[2015-06-28 23:36] davej opened #1 "Breaks with bash redirections"
For example, the following bash will give a permissions fail:
[code]

It's easily fixed by doing:
[code]

Perhaps sudo-prompt should do this (`bash -c`) at the module level instead? String escaping may need a little bit of thought but should be ok.

[2015-06-30 06:12] jorangreef commented on #1
The idea behind sudo-prompt is to prefix a command with "sudo" but show an os dialog if permissions would be necessary.

So, sudo-prompt at the moment would take your command above and run:
[code]
...but it would also take care of the os prompt along the way.

The issue at the moment if I understand correctly is that calling that command using sudo also fails:
[code]

The `echo 'some text'` is run

[2015-07-01 22:09] davej commented on #1
Yup that's it.

After some basic testing, `stdout` and `stderr` both propagate up to the node callback exactly as expected.

If you like I can make a PR?

[2015-07-02 11:55] jorangreef commented on #1
Thanks that would be great.

[2015-07-02 11:56] jorangreef commented on #1
Does the exit code also propagate?

[2015-07-02 12:01] davej commented on #1
I presume so but I haven't tested that, I'll give it a test when I have a few spare minutes.

[2015-07-02 12:10] davej commented on #1
Just tried `bash -c 'exit 0';` and it doesn't seem to propagate.

[2015-07-02 12:18] davej commented on #1
Did a bit more testing, this does propagate signals: `exec "bash -c 'exec exit 0'"`

[2015-07-02 12:25] davej commented on #1
The more I test this, perhaps it's best to leave it out of the lib, unless there's a straightforward way to do it. I'm not familiar enough with the intricacies of bash.

[2015-07-03 06:56] jorangreef commented on #1
Thanks for trying, at least the bash -c is documented here for those that need to redirect sudo output.

[2015-07-03 06:56] #1 closed

[2015-08-04 17:23] erikmellum opened #2 "Doesn't pull up an OS X dialog box to prompt for password"
I can't seem to get this to pull up a dialog box even in the simplest of cases. If I try the following:

[code]
It will silently fail with no prompt, and nothing on the errors object.

I did notice one thing that may be relevant.

If I attempt the command in the console window `sudo touch /etc/test.txt` then I get a prompt to enter the password. After I have entered the password using the command

[2015-08-05 06:53] jorangreef commented on #2
Thanks, I tried your example on OS X 10.10.4 and it worked fine.

Could the password prompt possibly be hidden by other windows?

Once you enter your password the first time using the prompt, or via a sudo command in the console, your user will have sudo privileges for a few minutes, which is why the programmatic version would not require a password prompt the second time.

It is designed to only

[2015-08-05 18:41] erikmellum commented on #2
Thanks Joran for your response it is much appreciated. I checked and didn't locate the password prompt behind any other windows. My process.title is "/Users/guest/Desktop/yeti-launch/node_modules/electron-prebuilt/dist/Electron.app/Contents/Frameworks/Electron Helper.app/Contents/MacOS/Electron Helper"

My process was to launch the application (with no sudo timestamp). Before I attempted the sudo

[2015-08-06 07:57] jorangreef commented on #2
Could you try and run `sudo.setName('test')` before you call `sudo.exec`?

If you could also please let me know the following:

1. What does `os.tmpdir()` return when called from your Electron app and is that path is writable by your user?

2. What does `process.env['USER']` contain when checked from your Electron app?

3. What do you get when running `which osascript` in the terminal?

4. What ve

[2015-08-10 03:39] erikmellum commented on #2
Running `sudo.setName('test')` fixed the issue. I told myself that the title couldn't possibly be the problem in my debugging, which was quite shortsighted. I should have tested that myself. Thanks for your assistance with my issue. The package is quite useful in my electron application.

[2015-08-10 03:39] #2 closed

[2015-08-10 06:24] jorangreef commented on #2
That's great to hear.

sudo-prompt works without native dependencies by creating a copy of the osascript binary using the title of your process as the binary name. It does this so that the password prompt shows as being from your application.

I think the reason your process.title didn't work is because it contained slashes which are not valid in a pathname. sudo-prompt should definitely have give

[2015-09-06 07:07] ghostbar opened #3 "Can't get it to work"
I'm doing a `sudo.exec('echo a name', function (err) {console.log(err)})` and keep getting the same error without any prompt being shown.

[code]

Mac 10.10.5
process.env['USER'] is defined
os.tmpdir() is writable by the user

You can see the issue on https://github.com/ghostbar/shakeitoff

EDIT: Already tried setting the title name, as well.

[2015-09-07 07:01] jorangreef commented on #3
Thanks @ghostbar.

Fixed in https://github.com/jorangreef/sudo-prompt/commit/1698b7384177ca40c038af36c3c05e504fdaff06.

[2015-09-07 07:01] #3 closed

[2015-10-15 11:21] mnewmedia opened #5 "support more platforms =)"
was frustradet, asked google
found it, was so happy
tried it with so much hope
not supported, so sad...

[2015-10-15 11:41] jorangreef commented on #5
Any platform in particular?

[2015-10-15 11:42] mnewmedia commented on #5
fedora linux =)

[2015-10-29 15:56] jviotti opened #6 "env: node\r: No such file or directory"
Hi,

I've been using `sudo-prompt` for a couple of days in an Electron application, however it suddenly started failing with the following error:

[code]

Code:

[code]

The command that files is this one: https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L30, however by running it manually myself I can see it gives the expected output:

[code]

Is there a way a carriage return is sli

[2015-10-29 17:10] jviotti commented on #6
After some investigation, running the application that uses `sudo-prompt` directly (with `node`, `electron`, `coffee`) works fine, however the issue is reproducible when calling the script from an npm script.

[2015-10-29 17:25] jorangreef commented on #6
Thanks @jviotti I will be away until next week and will look into it when I get back.

[2015-10-29 18:48] jviotti commented on #6
@jorangreef I've found the root of the issue.

My application uses [windosu](https://github.com/tehsenaus/windosu) to elevate permissions on Windows. This module exposes a `sudo` command, which get's installed in `node_modules/.bin`.

When calling a npm script, npm adds `node_modules/.bin` to the path, so when `sudo-prompt` executes `sudo -n <command>` it actually executes windosu's `sudo` instead

[2015-10-30 06:58] #6 closed

[2015-10-30 06:59] jorangreef commented on #6
Merged. Thanks @jviotti.

[2015-10-30 14:50] jviotti commented on #6
@jorangreef Awesome, thanks for the NPM publish!

[2015-11-13 04:27] gamedevsam commented on #5
I'm using Ubuntu Linux and also need this, I will pay you a reasonable bounty for it (BTC or PayPal).

[2015-11-16 11:53] jorangreef commented on #5
I am working on this now.

Please let me know if you can run either of the following in Fedora or Ubuntu:

`pkexec echo testing`

`gksudo echo testing`

[2015-11-17 13:45] jorangreef commented on #5
There's a new major release with beta support for Linux (tested on Ubuntu). Please test and let me know how it works on your Linux.

[2015-11-19 08:05] jorangreef commented on #5
Closing with https://github.com/jorangreef/sudo-prompt/commit/57a83efd64993fdc5ae05fa39feea73820f070af

[2015-11-19 08:05] #5 closed

[2015-12-30 17:20] ppoffice opened #9 "An additional env variable is needed when working under a non-English linux platform."
According to https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L20, sudo-prompt uses regular expression to detect whether to show a prompt dialog. But under different language environments this does not always work. So here is my temporary solution:
[code]

[2016-01-01 12:03] jorangreef commented on #9
Thanks.

Would you please paste the full output of running the following in your locale with the different language:

[code]

[2016-01-01 12:31] ppoffice commented on #9
![image](https://cloud.githubusercontent.com/assets/8849362/12070830/65b91eaa-b0c6-11e5-8998-ae3d0eb17efd.png)

[code]

[2016-01-01 13:55] jorangreef commented on #9
Should be fixed with https://github.com/jorangreef/sudo-prompt/commit/d08ec680f3317d1ebbdcc6ca990f9988a61b7cf2, please let me know if this works.

There may still be a locale language dependency on Linux (https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L168), but this should only affect the error message returned, an error should still be returned regardless of language, so I think

[2016-01-01 13:57] ppoffice commented on #9
Thx :+1:

[2016-01-01 13:57] #9 closed

[2016-02-08 17:10] jviotti opened #10 "cp command failing when elevating an asar packaged electron app"
`sudo-prompt` makes use of the `cp` command to perform a copy operation on the `applet.app` embedded in this module:

[code]

When an electron application is packaged as an `asar`, the `cp` command will not be able to find the file and will throw the following error:

<img width="532" alt="screenshot 2016-02-08 10 32 15" src="https://cloud.githubusercontent.com/assets/2192773/12892949/e51968d8-ce6

[2016-02-08 17:12] jviotti commented on #10
This looks like a good module to provide this operation: https://www.npmjs.com/package/ncp

I'll experiment with it and send a PR soon.

[2016-02-08 18:17] jviotti commented on #10
I'm trying many modules to perform the copy but they all fail with weird errors:

- [fs.extra](https://github.com/coolaj86/utile-fs) and [wrench](https://github.com/ryanmcgrath/wrench-js):

<img width="532" alt="screenshot 2016-02-08 13 50 11" src="https://cloud.githubusercontent.com/assets/2192773/12894066/0473116a-ce6b-11e5-9b46-6e9b3bb8eab7.png">

Which means [Error -10810 Opening Applications

[2016-02-09 07:31] jorangreef commented on #10
Thanks @jviotti, this should be fixed by https://github.com/jorangreef/sudo-prompt/commit/fe26a8a15937f28087b6ac80a0a636b5e8cf96b9

[2016-02-09 12:19] jviotti commented on #10
@jorangreef Thanks for this. I'll give it a test and let you know how it goes.

[2016-02-09 12:28] jviotti opened #11 "Clearing the "sudo" cache"
Is there a way to clear the `sudo` cache to force the prompt to appear? Maybe it's worth to document in the README since it can be quite helpful when debugging.

[2016-02-09 12:34] jorangreef commented on #11
Yes there is, using regular sudo in a terminal:

`sudo -k`

I don't want to make it part of sudo-prompt's scope, but could you do a pull request for the README?

[2016-02-09 12:39] jviotti commented on #10
@jorangreef Works great, thanks again!

[2016-02-09 12:39] #10 closed

[2016-02-09 13:02] jviotti commented on #11
@jorangreef Done! Let me know if you think the description can be rephrased in a better way.

[2016-02-09 13:07] jorangreef commented on #11
Thanks! Could you just change "time stamp" to "timestamp"? I know the sudo man page uses "time stamp" but everywhere else it's usually just "timestamp".

[2016-02-09 13:16] jviotti commented on #11
@jorangreef Sure, done!

[2016-02-09 13:25] #11 closed

[2016-02-16 02:39] yuriybabenko opened #13 "Add support or documentation for "timestamp_timeout = 0" scenario"
Have been struggling with getting sudo-prompt to work, and finally figured out why. My environment's timestamp timeout was set to 0. This resulted in `attempt()`'s check of the `if (/sudo: /i.test(stderr))` condition always matching, and throwing an error on the second command execution.

It would be nice if there was either a) a workaround, or b) a check for this condition within sudo-prompt and

[2016-02-18 07:32] jorangreef commented on #13
Are you on OS X?

Are you getting `User did not grant permission.` as an error message?

Would you be able to find out if there is any way to detect whether the sudo timestamp timeout is 0? If so, we could fall back to another version of `attempt()` which does not assume that timeouts on OS X are non-zero, and which will run the command directly as part of the Apple Script applet, which is normall

[2016-02-18 23:33] yuriybabenko commented on #13
Yes, I'm on OSX 10.10.4.

I looked around and I'm not seeing a way to check the current sudo timeout. The value is set in `/etc/sudoers`, but you need sudo to actually read the file, so it can't be parsed.

It may be possible to tell sudo to use sudo-prompt's `applet.app` as the GUI for ASKPASS. Alternatively, these two resources seem to be on the right track:
- http://apple.stackexchange.com/a/23

[2016-02-23 14:00] jorangreef commented on #13
I have been thinking about it some more. I will try to rewire `attempt()` so that it does not assume that sudo timeouts are non-zero. Instead it will:

1. Try `sudo -n` to run the command if possible (if a sudo session already exists).
2. Use the applet's administrator privileges to set the timeout as well as run the provided command.

This will give the best of both worlds. A sudo session which e

[2016-04-10 19:11] automation-stack opened #14 "Source code of applet.app"
Is it possible to find somewhere the applet source code?

[2016-04-11 06:24] jorangreef commented on #14
https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L360

[2016-04-11 11:58] automation-stack commented on #14
@jorangreef  thanks, but there is a compiled code encoded as base64 string rather than source code?

[2016-04-11 12:24] jorangreef commented on #14
Sure, you need to unzip the base64 string to recreate the applet.

See: https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L177

[2016-04-11 12:40] jorangreef commented on #14
It's just an applet, you can open the applet and view the source with Script Editor.

[2016-04-11 16:19] jviotti opened #15 "Getting "User did not grant permission" on Ubuntu 14.04 no matter what"
Hi, the `pkexec` dialog is correctly being shown, however no matter the password I pass, I get this error.

After some investigation, turns out that [users can't run graphical applications with pkexec without explicitly configuring it to do so](https://bbs.archlinux.org/viewtopic.php?id=127648).

However, turns out I can workaround this by running `pkexec` like this: `pkexec env DISPLAY=$DISPLAY X

[2016-04-11 17:38] automation-stack commented on #14
ok, thanks

[2016-04-11 17:38] #14 closed

[2016-04-12 07:16] jorangreef commented on #15
Thanks @jviotti

I should have made it clearer, but the Readme (under Behavior) mentions that `sudo-prompt` should only be used to run non-graphical commands, for the same reason that the `sudo` command should only be used to run non-graphical commands. There is also a link in the Readme explaining the reason for this.

I think that's why `pkexec` requires an explicit option in order to run graphi

[2016-04-12 07:21] jorangreef commented on #15
I was thinking we could support passing `ENV` variables, but the reason for not doing so this far is because I am not sure how much this can be supported across the various `sudo` binaries we use (and the way in which we use them).

For example, on OS X, we currently set the `sudo` timestamp using an applet which runs an Apple Script using administrator privileges, and only after that do we call t

[2016-04-12 15:18] jviotti commented on #15
Hi @jorangreef

Thanks for your response. According to the post you link in the "Behaviour" section, using `sudo` is not recommended to open graphical applications, but using graphical variants, like `gksudo`, or `kdesudo` is ok:

We use `sudo-prompt` at https://github.com/resin-io/etcher to provide application-wide elevation in OS X, which works fine (OS X is smart enough to open graphical applic

[2016-04-13 13:13] jorangreef commented on #15
Yes, `gksudo` or `kdesudo` were meant to open graphical applications, but sudo-prompt tries to mimic `sudo` itself (except for the graphical prompt) and I would like for it to provide the same guarantees as `sudo` as far as possible.

If we were to support graphical applications, there would be a few more things beyond `ENV` we might need to do, and it would be difficult to handle all the edge cas

[2016-04-13 13:27] jviotti commented on #15
I see, makes sense.

Yeah, that's right.

The code that requires elevation is a NodeJS script, with opens a device file for writing purposes. In order to run this script we should call a command with `electron` or `node`, e.g: `node write.js` or `electron write.js` (with the RUN_AS_NODE setting), however the first one assumes node is installed on the system, and in the second case, the electron bi

[2016-04-13 13:32] jorangreef commented on #15
Thanks, I think I understand a bit better.

Have you checked with @zcbenz regarding the electron binary ignoring command line arguments when packaged?

It would add an extra 9 MB or so, but what about including a `node` binary with `etcher`?

[2016-04-13 13:39] jviotti commented on #15
@jorangreef I will. I tested this long ago, so maybe it was an issue that is fixed by now, so I'll give it a go with later versions just in case.

Regarding including node, we thought about it, but we already have lots of complains regarding the application bundle size, so I guess that's not an option for us.

[2016-04-13 13:49] jviotti commented on #15
Yeah, the issue (or feature?) still happens in Electron v0.36.11, in OS X at least.

[2016-04-14 08:41] loranger opened #17 "Elevation error"
As described in the issue [#289](https://github.com/resin-io/etcher/issues/289), I have an issue with [Etcher.app](http://www.etcher.io/).
It seems etcher uses sudo-prompt, but I cannot make it work because etcher is not able to grant requested sudo privileges.

As requested in the [etcher's issue](https://github.com/resin-io/etcher/issues/289), I tried the following test and the step 7 did prompt

[2016-04-14 09:07] jorangreef commented on #17
Merging with https://github.com/jorangreef/sudo-prompt/issues/13.

[2016-04-14 09:07] #17 closed

[2016-04-15 11:12] #13 closed

[2016-04-15 11:59] jorangreef commented on #15
I think the best thing then would be for you to target `pkexec` directly when on Linux.

[2016-04-15 12:16] jviotti commented on #15
I'll take your suggestion, thanks a lot!

[2016-04-15 12:16] #15 closed

[2016-04-26 16:47] jviotti opened #18 "Add support to spawn the process"
Hey there,

How hard would it be to allow the child process to be spawned instead of executed on this module? I didn't take a look myself, but I suspect it's just a matter of spawning the final command built by this module in `Attempt()`.

The use case is that we've figured out how to call the process that needs the elevation in Etcher, instead of the full application, but we need to consume its `

[2016-04-27 08:51] jorangreef commented on #18
It is possible but would be a fair amount of work. Would be great if you could tackle it.

The `Attempt()` call is just the tip of the iceberg. That's there to try and run the command if a sudo session already exists, and if it does then that could be just a straight-forward `spawn()` instance passed back to the user.

But otherwise, the user command is run by a bash subshell which is called by th

[2016-05-03 19:53] jviotti commented on #18
Hi @jorangreef

I see :/ I certainly underestimated the amount of work needed. I'll take the tail approach as you suggested and see how far I can get with it.

I'll re-open this issue if needed, thanks a lot!

[2016-05-03 19:53] #18 closed

[2016-05-16 03:16] jviotti opened #20 "Preserve user environment when executing command"
I'm attempting to execute a script within my Electron app by using Electron's "run as node" functionality, controlled by the `ELECTRON_RUN_AS_NODE=1` environment variable, however this variable doesn't seem to be considered by `sudo-prompt` when executing the final command.

By some inspection, it looks like the applet executes `sudo -n <command>`. Can we change this to include `sudo`'s `-E` optio

[2016-05-17 06:49] jorangreef commented on #20
Thanks @jviotti

To understand how `sudo-prompt` works see: https://github.com/jorangreef/sudo-prompt/issues/18#issuecomment-215015742

[2016-05-17 13:40] jviotti commented on #20
Hi @jorangreef ,

I inspected the applet zip after decoding it from `index.js`. After some more experimentation, my Electron application works fine, inheriting env vars correctly when the sudo timestamp is invalidated (the dialog is shown), however it fails afterwards, unless I run `sudo -k`.

Adding the `-E` option in `Attempt()` seems to solve the issue. As far as I can see `Attempt()` runs the

[2016-05-17 14:24] jorangreef commented on #20
Thanks @jviotti, I saw that sudo's `-E` option can fail if denied by the user's `sudoers` policy:

I am not sure whether we will run into any `-E` errors in the wild, but if we do, then we will need to add support for explicit `options.env` in `sudo-prompt` rather than relying on the applet and `sudo` to preserve the user's environment.

For now though, we need to make a small change to the pull r

[2016-05-17 14:26] jviotti commented on #20
@jorangreef I see. What about making this an opt-in option? Like `preserveEnvironment: true`?

[2016-05-17 14:35] jorangreef commented on #20
I think it would be good to land the `-E` argument in `Attempt()` for now, but without making any promises in the documentation regarding preserving the environment.

Adding options tends to increase surface error for bugs, so if an option were to be added, I would rather add support for explicit `options.env`. It is lower level than `preserveEnvironment` (so preserving the environment could be bu

[2016-05-18 06:53] #20 closed

[2016-06-01 06:01] himanshuoodles opened #24 "When you prompt open it is taking password , it is running only one command ?"
i want to run like this.
but only first command is running and other have error
[code]
![screenshot from 2016-06-01 11 33 26](https://cloud.githubusercontent.com/assets/15084072/15699746/01820502-27ed-11e6-828d-a96d418ed95e.png)

[2016-06-04 11:22] jorangreef commented on #24
Fixed by https://github.com/jorangreef/sudo-prompt/commit/1e11485bf4686e9cf12b82541aec9761d573f1ed

This was a bug in `gksudo`, which cannot be used to run multiple commands concurrently. It uses a lock file and exits if the lock file exists. I am not sure if there is a flag to disable this behavior in `gksudo` so I have removed support for `gksudo`.

Also, just on the side, I noticed that your te

[2016-06-04 11:22] #24 closed

[2016-07-14 03:10] leftstick opened #27 "Any plan for windows support?"
As title. I am wondering if you have any suggestion for windows?

[2016-07-14 06:21] jorangreef commented on #27
I have not done it yet because `sudo-prompt` was meant as a prompt wrapper around `sudo` and the Windows elevation model is different. It can be done though. Would you be able to help with it?

[2016-07-15 15:15] jorangreef commented on #27
Done: https://github.com/jorangreef/sudo-prompt/commit/a57487d444850826e7c87d5c8a4a4f1f9d689b20

[2016-07-15 15:15] #27 closed

[2016-08-01 01:46] jviotti opened #28 "Detecting availability of a graphical PolKit authentication agent"
I've seen some issues when running this module on GNU/Linux systems without a full featured desktop environment (e.g: Arch Linux + i3). In these kinds of systems, the user doesn't always have a graphical PolKit authentication agent, which causes `pkexec` to default to asking for the password using stdin, which won't be seen from the context of a desktop application.

I'd be great if we could make

[2016-08-01 02:40] jviotti commented on #28
After some investigation, there doesn't seem to be a way to reliably list the available authentication agents. This is stored in memory by the PolicyKit backend, and there is no public API to query it.

`pkexec` is supposed to exit with an error if we pass `--disable-internal-agent` (which we already do). I guess we can check if `stderr` contains `No authentication agent found.` and translate appr

[2016-08-02 16:05] #28 closed

[2016-08-02 16:05] jorangreef commented on #28
Thanks @jviotti

[2016-08-02 16:36] jviotti commented on #28
Thank you @jorangreef !

[2016-08-26 19:56] junjunruan opened #30 "Is it possible to pass in parameters when running a batch file?"
Hi,
I am working on Windows, my batch file has some if-else statement for different commands, for example,
[code]
I hope with sudo-prompt, we can pass parameters like the following syntax, so that I can verify the if condition above by comparing with the passed parameter value.
[code]
If with current package, there is other ways to achieve my goal, please let me know.

Thanks,

[2016-08-27 08:32] jorangreef commented on #30
Hi @junjunruan, `sudo.exec()` is similar to `child_process.exec()` in that you simply pass the arguments as part of the command string (see the [Node.js docs](https://nodejs.org/dist/latest-v6.x/docs/api/child_process.html#child_process_child_process_exec_command_options_callback)). There is therefore no `[args]` argument when calling `sudo.exec()`.

If you need to pass parameters to your batch fi

[2016-08-29 13:31] junjunruan commented on #30
Thanks @jorangreef. It works.

I have a few questions. Is it the right place to ask questions or is there other ways to contact you?
My questions are:

1. From your documentation, I see this message: Passing options.name or options.icns is currently not supported by sudo-prompt on Windows. Then what the syntax should be for windows?
I tried delete options json, and remove "options" from sudo.exec(

[2016-08-29 14:25] jorangreef commented on #30
Sure, you're welcome to ask here and it might be helpful to others. Regarding your questions:

1. Just pass `{}` as options on Windows.

2. No, we delegate the privilege elevation to Windows itself. Windows shows the dialog prompt and we never receive the username and password (this would also not be safe). The best thing is to create a batch script which does everything that requires admin rights

[2016-08-29 17:12] junjunruan commented on #30
Thanks for your quick response @jorangreef.

Here is what I tried based on your suggestion:
1.  I got an error: "process.title cannot be used as a valid name" after I changed to the following code:
[code]
I checked the default value of process.title, the result is some Unrecognizable code.

2. I think what you mean if put all the commands need admin right in a batch file, then have one sudo.exec()

[2016-08-30 08:15] jorangreef commented on #30
Sure,

1. It may be that your process title was not in English? `sudo-prompt` requires `options.name` to be alphanumeric, and uses the process title if `options.name` is not provided. To solve this, just try  using`{ name: 'Test' }` as your `options` object instead of `{}`.

2. Then you would need two prompts, unless you can restructure things.

[2016-08-30 12:50] junjunruan commented on #30
Thanks @jorangreef:
Yes, the process title is some weird characters that I didn't recognize. But with `{ name: 'Test' }`, it works.

[2016-08-30 13:53] #30 closed

[2016-09-01 14:29] junjunruan opened #31 "Is synchronous function available?"
Hi @jorangreef:

Node.js has both synchronous and asynchronous functions to execute commands. In your package, is the synchronous function available?

[2016-09-02 06:41] jorangreef commented on #31
Hi @junjunruan, no there are no synchronous functions for `sudo-prompt`.

[2016-09-03 07:43] #31 closed

[2016-09-12 16:46] ezekg opened #32 "Add ability to set SUDO_ASKPASS to bundled MacOS applet"
It would be great if you could export a function that returns a permanent path to the bundled applet for MacOS, so that the `SUDO_ASKPASS` environment variable can be set to use it. I have several third-party scripts that use `sudo -A` if a tty isn't present, and right now they're timing out.

[2016-09-12 17:39] ezekg opened #33 "Sudo timeout is not respected on MacOS Sierra"
Even if you're within the set timeout, it will still prompt for a password. If you're using a `sudo` keep alive via `sudo -v` running on an interval, the program will continually create new prompts.

Any idea what would be causing this?

[2016-09-13 01:51] ezekg commented on #32
Upon further investigation, this probably isn't possible seeing as the applet doesn't return the password in plaintext, which is what the `SUDO_ASKPASS` variable expects the script to do.

[2016-09-13 07:33] jorangreef commented on #32
Yes, the applet just delegates elevation to the OS. Also, I think that using `SUDO_ASKPASS` would require the applet to be executed by `sudo` directly, whereas the applet does quite a few things beyond just elevation (`stdout`, `stderr`, status code handling etc.) and is designed to be executed by `sudo-prompt`.

[2016-09-13 07:33] #32 closed

[2016-09-13 07:36] jorangreef commented on #33
Could you try the following?

Open a Terminal window and run:

[code]

This should require a password.

Then close the Terminal window.

Open another Terminal window and run:

[code]

What happens here?

[2016-09-13 13:35] ezekg commented on #33
How odd… it prompts me for my password a second time.

This is my `/etc/sudoers`,
[code]

[2016-09-13 14:23] jorangreef commented on #33
I think it might be that Sierra is now requiring TTY tickets, which is why would see the second password prompt. In this case, there is nothing `sudo-prompt` can do really beyond showing the prompt when required.

Could you try the answer given here to see if that disables TTY tickets for your user and then try again?

http://serverfault.com/questions/111064/sudoers-how-to-disable-requiretty-per-u

[2016-09-13 14:47] ezekg commented on #33
It acts the same even after adding a global,

[code]

But after some investigation, `sudo` seems to work if I explicitly pass my user,

[code]

[2016-09-13 14:52] jorangreef commented on #33
Do you mean the Terminal test case I posted above or `sudo-prompt`?

That's very interesting and might help to work around this.

[2016-09-13 15:26] ezekg commented on #33
I thought it would, but after some testing via adding `-u $USER` right after [the `-E` flag](https://github.com/jorangreef/sudo-prompt/blob/master/index.js?ts=2#L20), I got the following results:

[code]

Although `sudo -v -u "$USER"` works, it doesn't elevate the permissions. You would need to run something like `sudo -v -u root`, but that still doesn't respect the timestamp. I can't figure out w

[2016-09-13 16:01] ezekg commented on #33
After a ton of searching and comparing `sudo su; sudo -V` settings, it seems that Sierra enables `tty_tickets` by default now, causing the issues mentioned above. To fix, the following needs to be added to `/etc/sudoers` via `sudo visudo`,

[code]

[2016-09-14 08:20] jorangreef commented on #33
Thanks @ezekg

Yes, I saw that `sudo -v -u "$USER"` requires the password in the 1st terminal, and not again in the 2nd terminal, but it seems it only updates the user's timestamp for existing TTY tickets, i.e. it won't help with a normal `sudo` in a 3rd terminal. So we can't really use it to bypass TTY tickets (which might not be a good idea either).

Did you find anything online that mentions Si

[2016-09-14 13:22] ezekg commented on #33
I believe Sierra upgraded the `sudo` version to `1.8`, which enables `tty_tickets` by default.

[2016-09-15 06:41] #33 closed

[2016-09-20 14:30] mnewmedia opened #34 "restart electron app as root"
When i try to restart the app as root i get the error `Error: User did not grant permission`, although I did enter the password and clicked the OK button.
[code]

Any ideas?

But no matter what, thank you so much for creating this!

---

I really do not know a lot of linux, but i thought with try and error it may works. But finally giving up, all failed:
[code]

---

ok, got it i should learn to r

[2016-09-21 12:29] jorangreef commented on #34
Thanks @mnewmedia

Which platform is this, and what version?

Can you try changing into the `node_modules/sudo-prompt` directory and then running `node test.js`?

[2016-09-21 12:35] mnewmedia commented on #34
Ubuntu 16.04. test works and all other commands are also working just not the to restart the electron-app, but thats's probably because of ` non-graphical terminal commands only` #15.

[2016-09-21 12:44] jorangreef commented on #34
Yes, it's not a good idea to run graphical commands using sudo or sudo-prompt. You can try using `pkexec` or `gksudo` directly on Linux for that.

[2016-09-21 12:49] mnewmedia commented on #34
So then thanks anyway! repeat with me: i will read the readme, i will read the readme.. haha

[2016-09-21 12:49] #34 closed

[2016-10-05 17:30] SxMShaDoW opened #35 "How do I get the pid after using sudo prompt?"
Currently we are using sudo prompt in parts of our application.

Is is there a way to return the pid of a process that is started with sudo prompt, so we can store it.

The value: We would like an easy way to also shutdown / verify all things started with sudo prompt are shutdown properly. If we have the pid it would be easier to kill it.

Open to other suggestions (as we currently using grep)

[2016-10-06 07:31] jorangreef commented on #35
We currently don't provide the pid of the launched process.

We could provide the pid of the launched process, but depending on the platform we use a few shells to launch the process, so if it were to be used for verifying shutdown then there's actually several pids that would be involved, there's the potential for race conditions with these too. Some interim launch processes might be short lived

[2016-10-08 09:01] #35 closed

[2016-10-24 17:45] Silve2611 opened #36 "User-names with a "-""
User-Names with an "-" are possible on mac but not allowed by the validation check. Exchanging [a-z0-9 ] with [a-z0-9 -] solves it for mac. Although I do not know if it is causing problems on other systems.

`function ValidName(string) {
  // We use 70 characters as a limit to side-step any issues with Unicode
  // normalization form causing a 255 character string to exceed the fs limit.
  if (!/^

[2016-10-28 11:38] jorangreef commented on #36
Which version of `sudo-prompt` are you using?

`ValidName()` is only used to validate the display name of the process requesting permission, not a username.

[2016-11-01 10:03] #36 closed

[2017-01-07 17:24] BrainyBrian opened #37 "How to detect if command run terminates"
Hi!
Just curious as to how I would detect if the command terminates. I tried setting the exec to a variable and doing variable.on(....) as I would to a normal async child process.

Is there any way I can do that?

Does this run the command asynchronously?

[2017-01-08 07:48] jorangreef commented on #37
Thanks @BrainyBrian

To confirm, your command will be run asynchronously in another process.

Your callback will be called as soon as your command terminates:

[code]

`sudo-prompt` exec() is different to that of `child-process` since it needs to deal with permissions issues on different platforms. It does not return a child process instance.

[2017-01-11 07:21] #37 closed

[2017-01-16 09:25] debelop13 opened #38 "Permission error copying files"
Hello,

I had permission errors like this "Uncaught Error: EACCES: permission denied, open" or like this "Uncaught Error: EACCES: permission denied, mkdir".

And for this reason, I use this npm module (sudo-prompt)

My code is ..

var toExec = "chown -R $(whoami) "+ pathToCopy;
sudo.exec(toExec, options, function (error, stdout, stderr) {
    startCopying();
});

But I receive "command failed"

Wh

[2017-01-18 10:27] jorangreef commented on #38
I tried the following on macOS 10.12.2 and it worked fine:

[code]

What does `which whoami` return?

Are you sure that `pathToCopy` exists?

What platform are you on?

Do you know that `whoami` when run under sudo will probably return `root`? You may want to get the user name outside of the sudo session first.

[2017-01-18 15:12] debelop13 commented on #38
Yes path exists, I am in darwin and win32, crossplatform app.

Maybe I should reformulate the question:

I am doing an installer and I want to give permissions to user to make various directories and copy files.
Do you know how I can execute a javascript function with privileges?

Thanks!

[2017-01-19 07:02] jorangreef commented on #38
Your command as you gave it above will most likely not work on win32, since win32 does not have chown

You can use `sudo-prompt` to execute any shell command within a sudo session. For instance, if you need to execute a javascript function with privileges as you say then you could use `sudo-prompt` to launch `node script.js`. But from there, the rest is up to you.

Some suggestions:

1. Do the sim

[2017-01-19 07:02] #38 closed

[2017-01-20 07:58] LouWii opened #39 "Add support for running command in a sudo shell on Linux (as already on Windows and macOS)"
Hi there,

Thanks for creating that package, it's really handy.

However, I have a small issue with it.
I need to run 2 commands with root rights.

If I do
[code]
It works, but the app will ask twice for the root password, which is annoying for the users.

I tried doing
[code]
So they run at the same time, but that fails. The command2 fails because it doesn't have root rights.

Happening on Ubuntu

[2017-01-20 08:37] jorangreef commented on #39
Thanks @LouWii , you are welcome.

The reason for the multiple password prompts is because Ubuntu uses TTY tickets, so each separate shell session requires sudo.

`sudo-prompt` uses a privileged shell session on Windows and Mac, so your command should work fine there as is. On Linux, however, we are currently running the command directly using kdesudo or pkexec, so your second command would fail s

[2017-01-21 06:40] LouWii commented on #39
`bash -c "command1; command2"` does work. Thanks !

What would you recommend as a long-term fix for Linux ? Use something different than `kdesudo` or `pkexec` ? I know Linux a bit but this goes beyond my knowledge.

[2017-01-21 08:33] jorangreef commented on #39
Great! I would like to update the Linux component of `sudo-prompt` to do something similar by default.

[2017-01-24 23:34] Cwright017 opened #40 "end process"
Is it possible to end the spawned process?

[2017-01-25 15:26] jorangreef commented on #40
It's not possible at the moment. Because of the way permissions work on different platforms, we have to jump through a few indirect hoops to launch the process. It's like a Russian doll of commands and that makes it difficult to support all of the child process instance which Node returns. We don't currently try to return a fake child process instance, but we may in future.

[2017-01-25 15:26] #40 closed

[2017-01-30 14:48] debelop13 commented on #38
Hi,

I'm sorry but I'm little lost:

Now, I have node script (js) that copy all files.
This script is called by sudo-prompt like this:

        var command = 'node ' + path.resolve(__dirname, '../vendor/installer/installationsudo.js') + ' "' + parameter + '"';

        sudo.exec(command, options, function (error, stdout, stderr) {
            if (error) {
                console.log(error)

[2017-02-05 15:33] jorangreef commented on #38
Your second example `var command = 'node -v'';` has an extra single quote at the end of the line which would not compile.

It may also be that when Electron runs, it runs using a different environment, so you need to reference the node binary using an absolute path. Probably `/usr/local/bin/node` instead of just `node`.

[2017-02-15 11:56] debelop13 opened #41 "Doesn't ask for permissions second time"
Hello,

I am having a problem with asking permissions:

- Yosemite 10.10 (in Sierra I don't have this problem, ask always for permissions)
- User without admin privileges
- Compiled .app with Electron.

First time that app is opened, works correctly, but second time sudo-prompt don't ask for user and password, and obviously, fails. I have to restart, and then it is called again.

My command is:
su

[2017-02-15 12:01] jorangreef commented on #41
It looks like the `User` you are passing does not exist as a valid user on the system.

[2017-02-15 12:20] mahdifani14 opened #42 "Prompt appears after each call"
Hello,

Scenario: I have several commands to be executed along with my application and they all needs admin privilege.
Problem: I would like to use your module, but whenever I run a command through it, it is asking for the password while I just want to have the prompt once at the beginning.

Do you have any idea?

[2017-02-15 12:39] debelop13 commented on #41
I have create a new user, without admin privileges, and is continuous happening. I have to restart or log out and it works again, but only first time.

[2017-02-15 14:39] jorangreef commented on #41
Your command (`chown -R User`) shows that you are passing in `User` literally as your user name?

[2017-02-15 14:40] jorangreef commented on #41
What does `ls /Users` return on that system?

[2017-02-15 14:41] jorangreef commented on #42
Thanks, I think this is a duplicate of https://github.com/jorangreef/sudo-prompt/issues/39

Please see the suggestion there.

[2017-02-15 14:41] #42 closed

[2017-02-15 14:47] mahdifani14 commented on #42
@jorangreef Thanks for fast reply, I have seen that issue, but in my case, I have to run the commands in different stages of the application execution, I mean that they are not in a row.

[2017-02-15 15:07] jorangreef commented on #42
Thanks @mahdifani14, it's not possible. Not because of sudo-prompt, but because sudo itself on Linux and Mac uses TTY tickets. Each time sudo-prompt runs it's essentially running in a new TTY (a new child process), so sudo itself thinks it needs to prompt for a password again. If the user does not have TTY tickets enabled for sudo, then sudo-prompt will only prompt the first time.

[2017-02-15 15:16] mahdifani14 commented on #42
@jorangreef
I got it.
I'll check other possibilities to overcome this obstacle.
Anyway, thanks again for your support.

[2017-02-15 15:52] debelop13 commented on #41
I do a whoami, my user is named "test".

My real code
var user = execSync("whoami").toString().replace("\n", "");
var command = "chown -R " + user + " '" + destination + "';
sudo.exec(command, options,.....

It is like my chown destroys something

First time after run my app:

Admins-MacBook-Pro:~ test$ /usr/bin/sudo -n -E -- chown -R test '/Applications/Example/Plugins/'
sudo: a password is requi

[2017-02-16 08:05] jorangreef commented on #42
It's a pleasure, thanks for checking. You could try using sudo-prompt to launch a long-lived process with root privileges which you could then use to launch your commands as and when needed. If there is another way please let me know.

[2017-02-16 08:33] jorangreef commented on #41
Thanks, if you are logged in as the `test` user, what does running `id` in the Terminal return (make sure you are logged in as the `test` user)?

[2017-02-16 09:44] debelop13 commented on #41
Yes, i am logged in test user:

Before run my app:

Admins-MacBook-Pro:~ test$ /usr/bin/sudo -n -E -- chown -R test '/Applications/Adobe Photoshop CC 2015.5/Plug-ins' '/Library/Application Support/Adobe/CEP/extensions'
sudo: a password is required
Admins-MacBook-Pro:~ test$ id
uid=503(test) gid=20(staff) groups=20(staff),703(com.apple.sharepoint.group.3),12(everyone),61(localaccounts),702(com.appl

[2017-02-16 09:50] jorangreef commented on #41
I think the problem is that your `test` user is not a member of the `admin` group. Your default sudoers file will probably only allow `root` and users who are members of the `admin` group. You need to add your `test` user to the `admin` group (this may work: http://apple.stackexchange.com/questions/76088/how-do-i-give-a-user-sudo-permissions).

[2017-02-16 15:24] debelop13 commented on #41
But this can be solved in my mac, but If I have to distribute this app, it is a problem..

[2017-02-16 15:29] jorangreef commented on #41
If you restart your computer, and without running the app, what does the following give?

`/usr/bin/sudo -E -- chown -R test '/Applications/Example/Plugins/'`

[2017-02-16 15:34] debelop13 commented on #41
The same that if I wait 5 minuts..

If I restart, works correctly, and doesn't show sudoers file error:

Admins-MacBook-Pro:~ test$ /usr/bin/sudo -n -E -- chown -R test '/Applications/Example/Plugins/'
sudo: a password is required

Is how the module would be blocking this command during a few minutes..

[2017-02-16 15:39] debelop13 commented on #41
Sorry, I did not understand correctly last comment, and I have delete it.

----

This command is asking for password, and after error is the same:

Admins-MacBook-Pro:~ test$ /usr/bin/sudo -E -- chown -R test '/Applications/Example/Plugins/'
Password:
test is not in the sudoers file.  This incident will be reported.

[2017-02-16 16:14] jorangreef commented on #41
Thanks, running the command I gave you confirms that the issue is either with `sudo` or `chown`. To see which one it is...

Can you try and run this command in your Terminal:

`sudo -k && whoami && sudo echo hello`

And then try this:

`sudo -k && sudo chown -R test '/Applications/Example/Plugins/'`

What do these two commands return?

[2017-02-16 16:20] debelop13 commented on #41
Can be possible the same error?

Admins-MacBook-Pro:~ test$ sudo -k && whoami && sudo echo hello
test
Password:
test is not in the sudoers file.  This incident will be reported.

Admins-MacBook-Pro:~ test$ sudo -k && sudo chown -R test '/Applications/Example/Plugins/'
Password:
test is not in the sudoers file.  This incident will be reported.

[2017-02-16 16:32] jorangreef commented on #41
How did you create the `test` user on your Mac?

I think it's because your `test` user is not a member of the `admin` group, or perhaps because of how the user was created.

There's nothing that `sudo-prompt` can do since your command fails with `sudo` itself. `sudo-prompt` can only do what `sudo` can do.

[2017-02-17 11:40] mahdifani14 commented on #42
@jorangreef Grateful for the hint, I'll try it and inform you about the result or any other solution if I found.

[2017-02-22 09:38] #41 closed

[2017-02-23 15:13] mahdifani14 commented on #42
@jorangreef Eventually after a long ride over this issue, I found a solution and decided to share it with you maybe would be useful. Actually, I tried the idea that you stated but, it didn't work due to the Electron and NodeJs limitations and it's not possible to run the whole app using sudo-prompt.
Therefore, after lots of researches, I divided the story into two scenarios w.r.t the platforms Win

[2017-02-23 15:30] jorangreef commented on #42
Thanks for the link @mahdifani14, that's really helpful.

[2017-02-24 10:19] jorangreef commented on #42
Have you tested macOS Sierra? There was a change recently so that macOS Sierra has started using TTY tickets. macOS Sierra should require a password for each separate sudo-prompt call.

[2017-02-24 11:21] mahdifani14 commented on #42
@jorangreef Good question, no I didn't. I'll check it and let you know because my application must be cross-platform.
Grateful for the point,

[2017-02-25 09:45] deiucanta commented on #1
Using `-e` flag on bash will exit immediately on error.

@davej Zero is the code for successful exists. If you want to "throw" an error you must exit with something different than zero.

http://unix.stackexchange.com/questions/15998/what-does-the-e-do-in-a-bash-shebang

[2017-03-02 01:43] igor-lemon opened #43 "Add long-running proxy"
Hi Joran. I have a small issue. You wrote in documentation that if tty_tickets is disabled than we'll ask password only once but also with disabled tty_tickets promt shows for each exec call but if I input some command in terminal after that I can use exec command much times without password promt.
Also maybe do you have some ideas how to resolve troubles with enabled tty_tickets? Because I want t

[2017-03-03 06:45] jorangreef commented on #43
Thanks Igor. Would you please provide a small test case to reproduce with tty_tickets disabled? What platform is that on?

I have been thinking about how to work with enabled tty_tickets. It may be worthwhile for sudo-prompt to have a persistent privileged child process (launched the first time sudo.exec() is called) which can be used for subsequent calls. This would work as long as the process re

[2017-03-03 23:48] igor-lemon commented on #43
Yep, I reproduced. I'm using macOS Sierra. With disabled tty_tickets ask password per each request too but if I input some sudo command in terminal I can exec any command without password promt.

What do you think about up a small sudo sh/bash process and after exec all sudo commands through that process (Linux + macOS)? As example I found I a forked electron-sudo rep and found that we can do that

[2017-03-13 21:20] theskyliner opened #44 "Executing a sudo command like "sudo -v""
Hey there,

thanks for this awesome package!

I have a homebrew script to switch between php versions on my macbook.
You can't execute the script with sudo, so the normal command would be `phpswitch.sh 70` in order to switch to php 7.0.

But at the end of the script the apache config is updated and the apache will be restarted. So the script needs root rights.

I search for some workaround and I f

[2017-03-14 16:10] justechn opened #45 "Does this work with electron?"
I am trying to get this to work with electron on a macOS Sierra machine, but I am not having any luck.

Here is my code
[code]

and here is what I get from the output
[code]

I do not get a popup, and only the error variable has any data, and I am not sure how to understand it.

[2017-03-14 16:11] justechn commented on #45
nevermind

[2017-03-14 16:11] #45 closed

[2017-03-15 04:40] jorangreef commented on #45
FYI, `ENOENT` means the `options.icns` path you provided did not exist on your machine.

[2017-03-15 11:15] hieund-hblab opened #46 "Get Error code when run error command"
Hey guys,
Someone please help me how to get ERROR CODE when run command error?
Thanks!

[2017-03-15 14:52] jorangreef commented on #46
Thanks, this should fix it: https://github.com/jorangreef/sudo-prompt/commit/810e87f9baef220702d268b2b76573533c795127

Please let me know.

[2017-03-15 14:54] jorangreef commented on #46
If the process was run and exited with an error code, then we now add the error code to the error object in the same way that Node's `child_process.exec()` does. You can access it using `error.code`. It may be `undefined` if the process was not started, or a string e.g. 'ENOENT' if something went wrong along the way to starting the process, or an integer.

[2017-03-15 14:58] jorangreef commented on #44
Thanks @theskyliner !

If I understand correctly, do you want to do the following?

[code]

[2017-03-15 14:59] jorangreef commented on #43
Yes, this was what I would like to do.

[2017-03-16 03:43] hieund-hblab commented on #46
hi @jorangreef ,
That is good, it work fine now.
Thankyou so much!

[2017-03-16 07:56] #46 closed

[2017-03-24 05:39] carloscuba opened #47 "Sudo permissions to run a node.js code block"
Hello there,

Thanks for your great work on the sudo-prompt module!

I’m building an Electron App that needs to send UDP packages and I’m using a module called [Cap](https://github.com/mscdex/cap) to access an interface, open it and send the package through it. Locally, it runs without any problems, but when running the App on other Macs (I sent the App.app to a couple of fellows to help me with t

[2017-03-27 07:30] jorangreef commented on #47
Thanks @carloscuba

`sudo.exec(‘su’...` switches to the root user, but only within the context of the shell from which it is called (the child process launched by `sudo-prompt` to run your command). That is why your Electron App does not automatically receive any sudo privileges - it is outside of the shell launched by `sudo-prompt`.

I would not recommend launching your complete GUI app with sudo

[2017-03-28 19:05] theskyliner commented on #44
Yup, thats exactly what I meant

[2017-03-29 07:05] jorangreef commented on #44
`sudo-prompt` already does an equivalent of `sudo -v` when it runs, to try and keep the user's sudo session alive for the next time `exec()` is called. However, TTY tickets are now enabled by default from macOS Sierra on, so this does not help since each `exec()` call is run in a new TTY.

I would recommend extracting the sudo command from your script and running it using `sudo-prompt`, e.g.:

[co

[2017-04-04 06:57] #44 closed

[2017-04-04 06:58] #47 closed

[2017-04-05 15:54] hieund-hblab opened #48 "Store password for next time run command"
Hey guys,
Someone please help me know how to store password for next time run command?
(my app alway ask permission when run any command, it is not good for UI)
Thanks!

[2017-04-07 03:03] hieund-hblab commented on #48
please help me,
have any config for above issue?
Thanks!

[2017-04-07 09:14] jorangreef commented on #48
Thanks @hieund-hblab, would you take a look at these issues:

https://github.com/jorangreef/sudo-prompt/issues/42

https://github.com/jorangreef/sudo-prompt/issues/43

I think you are using `sudo-prompt` on a system with TTY tickets enabled. This requires sudo to prompt for a password for every new shell session (i.e. per `sudo.exec()` call).

I would recommend batching your commands into a single

[2017-04-10 04:57] hieund-hblab commented on #48
okay, thanks!

[2017-04-10 05:40] #48 closed

[2017-04-12 03:16] tinvm opened #49 "Can i rename dialog when windows os asked permission?"
Hi Joran,

Many thanks for creating the package. It's very handing with us.
However, on windows os, when running this lib, windows asks permission as "exe.cmd" name. Have we optioned for a set this name? Thanks

[2017-04-12 07:56] jorangreef commented on #49
Thanks @tinvm

On Windows, there is no way to set the name at present.

[2017-04-12 08:19] tinvm commented on #49
Thanks @jorangreef for your answer.
on osx, can i set it?
and pls tell me how about package call cmd!

[2017-04-12 08:22] jorangreef commented on #49
On OS X you can set the `name` as per the README instructions: https://github.com/jorangreef/sudo-prompt#usage

On Windows, we use cmd.exe as a shell to run the elevated process, that's why it appears as the name.

[2017-04-12 08:28] tinvm commented on #49
@jorangreef  Yep! thanks, nice to run on OS-X.
we have some command line script which has an argument and need run on the system.
Are there any ways to pass cmd and run on the system?

[2017-04-19 03:17] hieund-hblab commented on #49
@jorangreef
Thanks for your support, but I have one question:
Did this module was based on chikd_process of node.js (https://nodejs.org/api/child_process.html)?
Please help me, thanks!

[2017-04-19 08:24] jorangreef commented on #49
Thanks @hieund-hblab I am not sure if I understand what you are asking. The module does use child_process in the implementation, but the interface of the module is not meant to be as full featured as child_process.

[2017-04-20 04:40] hieund-hblab commented on #49
@jorangreef I got it.
Thank you so much!

[2017-05-06 17:22] dimitrovs opened #50 "Get output of a long running command?"
Is there a way to get the output of a long running command (output stream) on Windows before it exits?

[2017-05-09 10:33] jorangreef commented on #50
@dimitrovs stdout is currently buffered and we do not provide any streaming api.

But you could have your long running command redirect stdout to a temp file, which you could then stream into your application yourself.

[2017-05-17 14:46] #49 closed

[2017-06-06 10:57] josephphayden opened #52 "Ampersand Character in Windows User Directory"
Hey,

Thanks a lot for producing this package, super-helpful!

I've run into an issue when running a command on a Windows machine where the user folder contains an ampersand. Please see the logs below.

From what I can see in your code the path is already wrapped in double-quotes?!

Let me know if you need any more information or help.

Thanks!

[code]

[2017-06-08 17:19] jorangreef commented on #52
Thanks @josephphayden !

I am sorry for not getting back to you sooner. I will try and reproduce and work on a fix. I am away for a few days and then will sort it out.

[2017-06-19 16:13] treyreynolds commented on #43
You are able to disable tty_tickets on your own machine if that helps with your use case. My application is only loaded onto custom machines so I am able to edit /etc/sudoers as mentioned in this article:
[TTY Tickets Option Now on by Default for MacOS Sierra](https://derflounder.wordpress.com/2016/09/21/tty_tickets-option-now-on-by-default-for-macos-sierras-sudo-tool/)

`Defaults  !tty_tickets`

[2017-06-20 08:06] jorangreef commented on #52
I reproduced the issue and this should be fixed properly by https://github.com/jorangreef/sudo-prompt/commit/a7338f638c43afb536d4d19d502ff5157395c91d

Thanks again for spotting this.

[2017-06-20 08:06] #52 closed

[2017-06-20 08:08] #50 closed

[2017-07-10 14:14] jviotti opened #53 "Add support for Touch ID as an authentication method in macOS"
From https://github.com/resin-io/etcher/issues/1579.

Not sure what's needed for this, but it'd indeed be very cool if `sudo-prompt` can support Touch ID authentication on newest MacBooks.

[2017-07-12 09:21] DSBalaban opened #54 "Add support for spawning long-running processes"
Node's `exec` isn't suitable for long-running processes due to that max buffer size.

Will there be an issue launching a process that could stay alive 24/7 through `sudo-prompt`, since there is no support for `spawn`? As in, does `sudo-prompt`'s `exec` work differently?

[2017-07-14 08:03] jorangreef commented on #53
Thanks @jviotti I will look into it. Any ideas from your side?

[2017-07-14 14:59] jviotti commented on #53
I have very little macOS programming knowledge, and my MacBook Pro doesn't have Touch ID, but I'll see if I can find something :)

[2017-07-14 16:42] hungtcs opened #55 "Can I save password?"

[2017-07-15 09:08] jorangreef commented on #55
No, that is not a goal of sudo-prompt and would undermine user security.

[2017-07-15 09:08] #55 closed

[2017-07-15 09:12] jorangreef commented on #54
You are right about the max buffer limit.

If you need to launch a long-running process, you can always launch it as its own process, disconnected from the parent, and use files to get the stdout and stderr yourself.

For example:

[code]

It would be good to support `spawn` but we don't have that yet.

[2017-07-24 15:45] DSBalaban commented on #54
Considered doing that, but hadn't thought of tapping into logs like that myself. Thank you, @jorangreef!

[2017-07-24 15:45] #54 closed

[2017-08-04 18:01] imdreamrunner opened #57 "Sudo App does not exit on Mac where direct child process already exits."
Dear author and other developers,

I find `sudo-prompt` a very useful and handy tool. Recently I encounter an issue while using it:

I have an node application that will launch a process A, and process A will fork a new process B. And then process A will terminates. (Process B is not sub-process of process A)

If I run process A in Terminal directly, I can see it quit normally as well. However whe

[2017-08-08 07:22] jorangreef commented on #57
Thanks @imdreamrunner

Process A will not terminate naturally until the outstanding callback returns, which happens only when process B terminates.

Since process B will not terminate, process A will not terminate.

What you could do for now is to write a plain file to send a message from process B to process A, as soon as process B is running, and then manually call `process.exit()` in process A

[2017-08-08 08:15] imdreamrunner commented on #57
Dear @jorangreef

Thank you very much for your informative reply.

The interesting thing is I use double-fork to create process B and process A has actually already terminated. (Maybe I should create a runnable example to show the case. Let me do more research first.)

May I know if the MacOS application is opened source? Maybe I can take a look for adding support spawn.

Again many thanks for you

[2017-08-12 03:43] icymind opened #58 "how to make sudo-prompt works with NOPASSWD in /etc/sudoers"
[code]

I can execute `sudo /sbin/route` command in terminal without password. But "sudo-prompt" require password when execute the same command.

Any advice?

[2017-08-14 06:42] jorangreef commented on #58
Does `sudo-prompt` ask for a password and then correctly call your command?

[2017-08-14 06:55] icymind commented on #58
yes it did. but what I expect is:
- ask for password when command doesn't list in sudoers
- run silently when command config with 'NOPASSWD'

[2017-08-14 08:07] jorangreef commented on #58
Thanks @icymind

What does the following return?

1. Open a brand new Terminal window.
2. Run `sudo -n echo hello`

[2017-08-14 08:23] icymind commented on #58
Thanks for your reply. When I run your command, it just print 'sudo: a password is required' then exit.

[code]

more info, `child_process` works as expect, it didn't require a password :
[code]

[2017-08-14 08:28] jorangreef commented on #58
Before asking for a password, `sudo-prompt` calls `sudo -n`.

This instructs `sudo` to run the command if a password is not required (if a sudo session is already established), or else to return the `a password is required` error.

If we see the error, we then ask the operating system to request administrator privileges on our behalf.

The issue here is that `sudo` itself is saying a password is r

[2017-08-14 08:33] jorangreef commented on #58
I am going to close this issue if it's fine with you:

1. `sudo` itself is giving us the wrong feedback (saying a password is required when your sudoers says otherwise).

2. It is unusual to allow password-less sudo privileges.

3. `sudo-prompt` is technically still working correctly by requesting administrator privileges, and executing your command.

[2017-08-14 08:33] icymind commented on #58
so, there is no way to run a `sudo` command beyond a sudo session?

sorry for bothering you.

[2017-08-14 08:34] jorangreef commented on #57
Closing for now, please let me know if I can help further with this.

[2017-08-14 08:34] #57 closed

[2017-08-14 08:36] jorangreef commented on #58
No, none that I know of. You could take this issue up with the developers of `sudo`.

Anytime, let me know if you have any other questions.

[2017-08-14 08:47] icymind commented on #58
sorry, I still feel confused.

I think the reason why terminal reports error when I run `sudo -n echo hello` is that echo doesn't config as `NOPASSWD`

But `/sbin/route` is different, I successfully execute it in a new terminal:
[code]

Please let me know if I misunderstanding

[2017-08-14 09:03] jorangreef commented on #58
What does the following return?

[code]

[2017-08-14 09:11] icymind commented on #58
[code]
It execute without error.

[2017-08-14 10:09] jorangreef commented on #58
Ah, thanks I see.

`sudo -n` is in fact checking your `/etc/sudoers` and seeing that no password is required for `/sbin/route`.

There should be no difference between that last command you tried and what `sudo-prompt` does (except for the `-E` flag that `sudo-prompt` also adds)?

See: https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L11

If `/usr/bin/sudo -n -E -- /sbin/route change

[2017-08-14 15:21] icymind commented on #58
[code]
Then I add 'SETENV' to /etc/sudoers as what https://superuser.com/questions/636283/how-to-allow-user-to-preserve-environment-with-sudo/687347 says, now sudo-prompt runs well.

Is it a better solution to offer an option to toggle '-E' flag?  When we use `sudo`, we don't use `-E` flag offen, isn't it?

[2017-08-15 09:20] jorangreef commented on #58
We had an issue in the past regarding not having the `-E` flag, see: https://github.com/jorangreef/sudo-prompt/issues/20.

I would rather try and preserve environment variables than not.

[2017-08-15 09:30] icymind commented on #58
OK, Thanks your work!

[2017-08-15 09:30] #58 closed

[2017-08-17 16:02] DSBalaban opened #59 "User did not grant permission"
Using **elementary OS 0.4.1** (based on **Ubuntu 16.04**) over here.

I'm trying to run a bash script via `sudo-prompt.exec`, and after entering my password the app throws an error saying **User did not grant permission**.

Script would be launched from an Electron environment, if that is at all important. The GUI application itself is _NOT_ run with administrator privileges.

I know it's not much

[2017-08-22 07:32] jorangreef commented on #59
Thanks @DSBalaban would you be able to add a `console.log(error)` statement to the source in `index.js` over here: https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L130 and let me know what you get?

Also the the output of `stdout` and `stderr` which `sudo-prompt` returns to your callback.

[2017-08-22 08:08] DSBalaban commented on #59
@jorangreef Thanks for replying.

I'll see if I can reproduce the error, as I'm no longer seeing it (magic, I tell you). Give me a bit of time.

[2017-08-22 08:16] jorangreef commented on #59
Sure, sorry for the late reply.

I will close in the mean time then if that's fine with you.

[2017-08-22 08:16] #59 closed

[2017-08-24 13:15] ravikp7 commented on #59
Hi @jorangreef I think I've got a similar issue. I'm also running a script from electron environment using `sudo-prompt.exec` from the app which is run without sudo permissions.
Everything works fine, no errors during development. The app works fine on mac with dmg built by electron-builder. Also no error with unpacked linux build from electron-builder.
I'm only having issues with AppImage (again

[2017-08-24 19:02] ravikp7 commented on #59
I found the cause of this issue. AppImages are mounted using FUSE, which only allows execution permissions on the mounted image to the user that actually executed the image. So, su can't execute with it. I'd have to remount the AppImage as root to get it working.

[2017-08-25 07:46] jorangreef commented on #59
Thanks @ravikp7

[2017-08-26 22:20] probonopd commented on #59
Check what the Etcher AppImage, which requires root, is doing. It's described at https://github.com/AppImage/AppImageKit/issues/268#issuecomment-280027991

[2017-08-27 21:11] kounelios13 commented on #48
Is there any way to disable TTY tickets on startup?

[2017-08-28 07:00] jorangreef commented on #48
Take a look at:

https://serverfault.com/questions/111064/sudoers-how-to-disable-requiretty-per-user

https://unix.stackexchange.com/questions/79960/how-to-disable-requiretty-for-a-single-command-in-sudoers

[2017-10-10 10:37] dulebap opened #60 "Using regional characters"
Module is really great but unfortunately on Windows it has problem with regional characters. It cannot find files in path. In Powershell on my computer I have encoding OEM 852. Javascript use utf-8 encoding and it is used to save .bat files in this module. I think it cause in differences in regional characters like Polish ąę or Danish å.
I tried saving command.bat  encoded to OEM 852 (i provided e

[2017-10-10 16:35] jorangreef commented on #60
Thanks @dulebap

Could you provide me with a bare minimum test script to reproduce?

Is your Windows setup custom configured (e.g. your shell encoding setup)?

While we are at it, would you mind checking if this is Windows only or can you find a way to reproduce this on other platforms?

[2017-10-11 11:03] dulebap commented on #60
I didn't changed anything in shell encoding setup. I have Windows 10 with display language English,but with Polish(Programmers) Keyboard layout. My Powershell and cmd has 852 (OEM - Latin II) code page set as default (as I said I didn't changed settings myself).
The bare minimum test script to reproduce is for example
var sudo = require('sudo-prompt');
sudo.exec("'C:\\sampleFolderą\\sampleProgram.

[2017-10-18 01:09] GregTheGreek opened #61 "Execute bash file?"
Instead of executing a line of code can I execute a file?

[2017-10-18 08:19] jorangreef commented on #61
Sure, you can call `exec()` on any executable file by passing the path to the file, just like you can with Node's `exec()`.

[2017-10-18 08:19] #61 closed

[2017-10-19 06:52] GregTheGreek commented on #61
@jorangreef I'm getting an issue with this.. my line of code
`    sudo.exec(`sh ./script.sh`, options, function(error, stdout, stderr) `
I get an error:

`An error occured: Error: Command failed: /usr/bin/sudo -n -E -- sh ./script.sh' sh: ./script.sh: No such file or directory`

I'm not sure why but it seems to be looking for the file in the sudo directory instead of the current one.

[2017-10-24 11:24] dulebap commented on #60
On Win 7 and Win 8 behaviour is the same as on Win 10. Tomorrow I should have possibility to test it on Mac. Have you managed to reproduce error on your side?

[2017-10-31 10:52] jorangreef commented on #60
Thanks @dulebap

I can reproduce on my side on Windows 10 at least.

Can you create a plain `.bat` file with the following contents (or your actual command) and post the results?

[code]

So above your `.bat` file contains only a single command (sampleProgram.exe). I think this is the bare minimum test case to reproduce.

[2017-11-02 09:05] dulebap commented on #60
Thanks @jorangreef

When encoding of command.bat was set to ansii I got:
C:\sampleFolder╣\sampleProgram.exe
The system cannot find the path specified.

When encoding was set to utf-8:
C:\sampleFolder─ů\sampleProgram.exe
The system cannot find the path specified.

When I set encoding in Notepad++ to OEM 852 the command runs fine. It means that probably when I tried to encode command generated by su

[2017-11-02 09:26] jorangreef commented on #60
Great, try the same `.bat` file but this time add this line at the top of the .bat file (as the first line):
[code]

[2017-11-02 09:56] dulebap commented on #60
I've got:
C:\praca>chcp 65001
Active code page: 65001

C:\praca>\sampleFolderą\sampleProgram.exe 9002 "C:\sampleFolderą"
It looks like it works fine in that case (utf-8 encoding in bat file).

[2017-11-02 10:02] jorangreef commented on #60
Thanks for your help with testing. I will have a fix soon.

[2017-11-02 10:44] jorangreef commented on #60
Fixed by https://github.com/jorangreef/sudo-prompt/commit/6a0577a387410763a28184b5f30d376e73fcb9b4

Please try out version 8 and let me know how it goes!

[2017-11-02 10:44] #60 closed

[2017-11-02 11:38] dulebap commented on #60
It works now. I've tried adding chcp 65001 in wrong place, by myself in that case.
Thanks for that fix.

[2017-11-07 23:38] streeter opened #62 "Add tags for releases"
Hi there, do you think you could add git tags for the releases? It looks like 30cd59a0c51e24b16135aeb02cb66068d632dbc1 is 7.1.1 and ebb21118e6cad962834ebfcd5b20008504911a24 is 8.0, but it's harder to figure out what code corresponds to which version without tags.

Thanks!

[2017-11-08 09:14] jorangreef commented on #62
Thanks for the suggestion.

[2017-11-08 09:17] jorangreef commented on #62
I double-checked and the releases should already all be tagged.

Try cloning https://github.com/jorangreef/sudo-prompt and then running `git tag`.

You should see all the tags corresponding to each release.

[2017-11-08 09:19] jorangreef commented on #62
Ah, I see tags are on my machine but they are not made available when cloning...

[2017-11-08 09:23] jorangreef commented on #62
Fixed, thanks!

[2017-11-08 09:23] #62 closed

[2017-11-08 14:54] streeter commented on #62
Awesome, thank you!

[2017-11-16 16:24] pabloneill commented on #47
Hey,

Thanks for your work on this . I'm  trying to use this sudo-promt to start a child process on a raspberry PI, tha needs sudo to execute.

I am trying this :

[code]

But is returning TypeError: sudo.execFile is not a function

I'm also trying:

[code]
But that is returning:

Usage: /home/pi/Desktop/fm_transmitter/bin/Release/fm_transmitter [FILE] [Frequency]  which are the two arguments requ

[2017-11-16 16:29] pabloneill opened #63 "Child Process issue"

[2017-11-16 16:57] #63 closed

[2017-11-20 18:35] jviotti opened #64 "Elevation prompt not shown and "User did not grant permission" on macOS 10.12.6"
See https://github.com/resin-io/etcher/issues/1860.

@craig-mulligan tried running the usage example:

[code]

But all he gets is:

[code]

without any prompt at all.

I unzipped the applet to see if I could debug things myself, but got stuck a bit. The AppleScript file calls `sudo-prompt-script`, which then calls `/bin/bash sudo-prompt-command 1>stdout 2>stderr`, but I can't see the source of `su

[2017-11-21 07:24] jorangreef commented on #64
Thanks @jviotti,

The source of the `sudo-prompt-command` script is written out dynamically during `exec()` here: https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L244

If the `code` file is not found (`ENOENT`) we assume that a privilege error occurred. But if the elevation prompt is not shown it's possible that something else went wrong in between `MacOpen()` and `MacResult()`.

@c

[2017-11-21 13:51] craig-mulligan commented on #64
Hey @jorangreef 👋
Sure, here's the output for each:
[code]

[2017-11-21 14:54] jviotti commented on #64
Looks like a problem with the AppleScript interpreter. According to https://discussions.agilebits.com/discussion/64048/the-operation-couldnt-be-completed-osascript-cannot-open-default-scripting-component, this can happen due to a broken macOS installation. @craig-mulligan could it be that installing bootcamp messed up your system?

One of the guy says:

[2017-11-22 06:38] jorangreef commented on #64
Thanks @craig-mulligan and @jviotti, if Disk Utility repair does not work you could also try rebooting to see if `osascript -e 'do shell script "echo foo" with administrator privileges'` works after reboot (this has helped others), or else reinstall macOS over your existing macOS.

[2017-11-28 14:17] lurch commented on #64
I'm a Linux-user rather than a Mac-user (so I don't know how the permission system works on macOS), but does that assume that the program that's making use of `sudo-prompt` is itself stored in a writable directory? What happens if the program that's making use of `sudo-prompt` is stored in a readonly directory?

[2017-11-28 16:07] jorangreef commented on #64
Hi Andrew

Thanks for the question, the write is done to a tmp directory not to the application directory. This tmp directory is versioned using a UUID to prevent collisions with other sudo prompt instances, and is cleaned up after use.

Joran

On 28 Nov 2017, at 16:17, Andrew Scheller <notifications@github.com> wrote:

The source of the sudo-prompt-command script is written out dynamically during

[2017-11-28 16:19] lurch commented on #64
Ahh, thanks for the great answer Joran :-)

[2017-12-02 11:59] jorangreef commented on #64
@craig-mulligan any progress with your Mac?

[2017-12-05 14:09] jviotti commented on #64
Ping @hobochild

[2017-12-05 16:02] jorangreef commented on #64
Thanks, not sure how I got @craig-mulligan!

[2017-12-05 16:03] lurch commented on #64
Looks like he renamed his GH username ;-)

[2017-12-06 12:48] hobochild commented on #64
Hey @jorangreef cc @jviotti @lurch.

rebooting and repairing the drive didn't seem to work. But I completely formatted the drive and reinstalled macos and now `osascript -e 'do shell script "echo foo" with administrator privileges'` opens the sudo prompt as expected.

Looks like it was likely a broken macOS installation as @jviotti pointed to earlier.

Thanks all!

[2017-12-06 14:08] jorangreef commented on #64
Thanks @hobochild @jviotti !

[2017-12-06 14:08] #64 closed

[2017-12-20 17:47] irfman12 opened #65 "packaging issue"
I need some help, I'm unable to get sudo prompt work from my packaged electron app.

It works fine when I run it in dev mode, but not with the exe.

I'm not sure, if sudo-prompt is not being picked up, or something else.  it works fine in packaged form.

![image](https://user-images.githubusercontent.com/645130/34220795-e1d174da-e583-11e7-81ea-2f6ff8f8a440.png)

[2018-01-02 09:12] jorangreef commented on #65
Thanks @irfman12, are you sure this is a `sudo-prompt` issue? It looks like the `toString` exception is being raised in your callback given to `sudo-prompt`. In other words, `sudo-prompt` calls your callback, and something in your callback is calling `toString()` on something which is `undefined`.

[2018-01-02 11:35] irfman12 commented on #65
in this situation, I'm trying to execute the stdout.toString(), stdout is coming as undefined by the exec function, I found that if my node modules are packaged in ASAR archive it's not working . do you have support for ASAR when sudo-prompt is packaged as part of executable in electron exe

[2018-01-03 16:08] jorangreef commented on #65
sudo-prompt definitely supports being packaged as part of an asar archive.

I think you may be ignoring the `error` parameter passed to your callback.

If an `error` is returned to your callback then `stdout` will be undefined.

[2018-01-05 15:15] #65 closed

[2018-01-08 21:37] jviotti opened #66 "Don't use child_process.exec() on GNU/Linux"
We recently hit a weird issue where a process spawned with this module would log a lot verbose output to `stdout`, and eventually cause a "stdout maxBuffer size exceeded." on GNU/Linux.

Can we replace `.exec()` with `.spawn()` [here](https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L128) and collect the output by listening to child stdio events to avoid this from happening even in t

[2018-01-09 06:53] jorangreef commented on #66
Thanks @jviotti

I have some ideas on a solution, but here's the back-story on this first.

We should use `spawn()` if we could. The reasons we don't so far:

* I couldn't find any way to get access to the AppleScript's stdio streams using Node's `spawn()` directly on macOS, so `sudo-prompt.spawn()` would not be cross-platform. Perhaps you can find a way?

* We could solve the issue above on macOS

[2018-01-09 06:53] jorangreef commented on #66
Just bumping the maxBuffer on Linux would be much simpler for now.

[2018-01-09 18:35] Muneefm commented on #42
@mahdifani14  @jorangreef  have you found any solution yet?
am new to this electron.  I needed to open specific .app file from mac application.  so i tried to run  "open  path/to/the/application.app"  it was showing some error.  so i used this library and run the same command now it's working. but the only problem is it's showing the password prompt for every exec.  is there is any way to ask that

[2018-01-09 22:32] mahdifani14 commented on #42
@Muneefm I finally used Cocoasudo, it works fine for all OSX versions, check the link below:
http://www.performantdesign.com/2009/10/26/cocoasudo-a-graphical-cocoa-based-alternative-to-sudo/

[2018-01-10 02:48] jviotti commented on #66
@jorangreef I think my original message was a bit confusing. I was not proposing to replace `sudoPrompt.exec` with a new `sudoPrompt.spawn`, but to keep the `sudoPrompt.exec()` interface while using `child_process.spawn()` under the hood to collect output from the `pkexec`/`kdesu` commands here: https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L128. For example:

[code]

Accumulating

[2018-01-10 07:40] jorangreef commented on #66
Yes, that's what I understood. We don't need to use `spawn()` like that there on line 128, we can just pass a custom very large `options.maxBuffer` limit to `child_process.exec()`:

https://nodejs.org/dist/latest-v9.x/docs/api/child_process.html#child_process_child_process_exec_command_options_callback

[2018-01-10 07:43] jorangreef commented on #42
@Muneefm TTY tickets are now the default on macOS Sierra onwards.

Each shell session must authenticate as sudo, independently of existing sudo sessions.

You can think of sudo-prompt as launching the equivalent of an authenticated shell session, which is why each session requires a password.

You can either batch up your commands, or disable TTY tickets.

[2018-01-10 12:18] jviotti commented on #66
Cool, I'm happy with that!

[2018-01-10 13:29] jorangreef commented on #66
Thanks, fixed in https://github.com/jorangreef/sudo-prompt/commit/0ba8cf0b2789bca08e8a2de99c39fe49ce6e4792

[2018-01-15 14:15] #66 closed

[2018-01-23 01:30] erguotou520 opened #67 "Works with electron-builder on Mac"
It's ok in development, but flashed back in production.
I use `electron-builder` to build my electron project to `dmg` on Mac. But it flashed back after running, no dialog prompted for password.

[2018-01-23 07:02] jorangreef commented on #67
Can you provide a small test case to reproduce?

[2018-01-23 09:48] erguotou520 commented on #67
I think this should be simple: https://github.com/erguotou520/sudo-prompt-with-builder

[2018-01-23 10:08] jorangreef commented on #67
Thanks @erguotou520

Can you please provide something which does not depend on Electron?

Just a single Node test script?

[2018-01-23 10:09] jorangreef commented on #67
I want to remove as many variables as possible.

[2018-01-23 12:10] erguotou520 commented on #67
Oh, my issue is depended on Electron. Maybe need another project to do with Electron.

[2018-01-23 12:11] erguotou520 commented on #67
I thought this project is for Electron before. Sorry for that.

[2018-01-23 12:14] jorangreef commented on #67
`sudo-prompt` works fine with Electron. I just want a minimal test script to reproduce. If your command works without Electron that gives more information to help debugging.

[2018-01-23 12:20] erguotou520 commented on #67
I think my repo is simple enough, no more dependency.
For develop, just run `npm run dev`.
For production, just run `npm run build`. It will create built files in build folder.

[2018-01-23 12:21] erguotou520 commented on #67
I want to know where is the `sudo-prompt-applet.zip` file? I can't find it in source. I think the issue is because this file is not included in the packaged file.

[2018-01-23 12:28] jorangreef commented on #67
What version of `sudo-prompt` are you on?

It's here as a base64 encoded zip file which is unzipped to a temp path when you run `exec()`: https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L601

[2018-01-23 12:31] erguotou520 commented on #67
`^8.1.0`

[2018-01-24 13:29] erguotou520 commented on #67
Sorry, it's ok for Electron. I think my previous `flash back` issue was caused by rendering tray before app `ready`.
Thanks for your contribution again for such useful project, especially the base64 zip file. 👍

[2018-01-24 13:29] #67 closed

[2018-01-24 14:17] jorangreef commented on #67
Thanks @erguotou520 I am glad you could sort it out!

[2018-01-24 14:25] erguotou520 commented on #67
😺

[2018-03-14 20:25] tylerssn opened #68 ""Cannot find module --arg" on sudo.exec: C:/path/to/file.exe --arg"
Firstly, thanks for this package. It has been great!

I am running into an issue when attempting to launch an exe file with args. In Power Shell I can execute `c:/path/to/file.exe --arg` and all runs well. When I try to execute using `sudo-prompt` with:

[code]

I receive the error: `Cannot find module --arg`

[2018-03-15 08:12] jorangreef commented on #68
Thanks @tylerssn, would you be able to provide me with a minimal `test.js` file to reproduce on Windows?

[2018-03-20 18:47] IDmedia opened #69 "Synchronous execution of multiple terminal commands"
Hi,

I'm currently trying to port one of my Windows applications to OSX using Electron. It helps users to install/setup other applications that usually are difficult or time consuming to configure. The application heavily depends on having administrative permissions so I'm really grateful for this fantastic module.

However, I have one issue related to running multiple commands in the correct sequ

[2018-03-21 08:58] jorangreef commented on #69
Thanks @IDmedia

Sure, I would recommend using a script file to run all your commands in one go.

Then from that script file just append progress line items to another file and then watch that progress file from your main process. If it's not too much progress output, you can just set something up to call readFile on the file every 500ms or so, until the commands are all done.

[2018-03-21 09:00] jorangreef commented on #69
As to why `sudo-prompt`'s `exec()` buffers output, we unfortunately have to because of the trickiness of getting elevated privileges on different platforms.

[2018-03-21 09:00] jorangreef commented on #69
Hopefully just using another file will do the trick for you.

[2018-03-21 09:20] IDmedia commented on #69
@jorangreef Outputting the progress to another file and then watching the file sounds a bit "hackish" (or creative perhaps, hehe), but a better solution that I could come up with. I really appreciate the suggestion and will give it a try. Thank you. :)

[2018-03-21 09:20] #69 closed

[2018-03-21 16:34] frontierpsycho opened #70 "[Windows] Doesn't work if executable in different disk than %TEMP%"
`sudo-prompt` generates a batch file like the following on the fly:

[code]

However, if the executable is in a different disk than the %TEMP% directory in Windows, then the cd line will fail to actually change the current working directory to where the executable is, as cd does not switch disks by default. Subsequently, sudo-prompt fails with a "could not find executable" error or somesuch.

To f

[2018-03-21 20:42] jorangreef commented on #70
Thanks @frontierpsycho good catch.

I will do the PR shortly.

[2018-03-21 23:54] ryankon commented on #53
I've been using Etcher a lot, so I tried to take a closer look at this, and I had a quick question. If I execute the AppleScript directly or if I do the following, I get the Touch ID prompt.

```osascript -e 'do shell script "echo foo" with administrator privileges'```

Perhaps it has something to do with the applet binary? What is it actually doing?

Thanks!

[2018-03-22 06:40] jorangreef commented on #53
Thanks @ryankon

The applet is just an AppleScript packaged as an app by Xcode.

We moved away from copying the `osascript` binary since this applet technique lets us set the prompt's icon by changing the applet's icon dynamically.

You can inspect the applet in Xcode: decode the applet base64, unzip, then open Contents/Resources/Scripts in Xcode, which looks like this:

[code]

`MacOS/sudo-prompt

[2018-03-22 06:41] jorangreef commented on #53
[code]

This might do the trick.

[2018-03-22 07:11] jorangreef commented on #70
Fixed in https://github.com/jorangreef/sudo-prompt/commit/f677081dba73cd1785003d483137625de92dfab6

[2018-03-22 07:11] #70 closed

[2018-03-22 07:14] jorangreef commented on #68
@tylerssn have you come right with this?

I am closing for now, feel free to re-open. A minimal `test.js` would be appreciated.

[2018-03-22 07:14] #68 closed

[2018-03-22 07:48] ryankon commented on #53
Thanks for the detailed response @jorangreef

Unfortunately, I attempted to rebuild the AppleScript app using the latest Xcode (9.2) on MacOS 10.3.3, and it still prompts for a password instead of using Touch ID.

If we want to preserve the prompt customizability, we may have to use the Local Authentication framework instead. I can try to carve out some time in the coming weeks to take a closer lo

[2018-03-22 13:45] jorangreef commented on #53
Sure, thanks @ryankon for trying the rebuild.

It would be great to look into using the Local Authentication framework, especially if we can interact with it from C/C++ with a minimum of anything else. I have tried to keep `sudo-prompt` free from being a native add-on for convenience. Please let me know what ideas you have or what might work.

[2018-04-01 10:20] xtay315 opened #71 "can show the prompt dialg, but no effect for 'touch /etc/baby' command on macos"
can you send the applet code for me. thanks very much. my email xtay3@qq.com

[2018-04-11 03:34] Dominic-Preap commented on #67
@jorangreef I have an issue where it doesn't popup dialog on Mac when app is codesign with electron-builder. But it is working fine in development or build the app without codesign.

[code]

[2018-04-11 07:15] Dominic-Preap commented on #67
@jorangreef very apologize. I misplace my icns file when build as production. Everything working fine right now. Thank you for your great works.

[2018-05-09 17:55] franciscop commented on #39
What about something like this?

[code]

Then to use it you can do:

[code]

[2018-05-09 18:21] LEKrensta opened #72 "No polkit authentication agent found"
"stdout: "Error executing command as another user: No authentication agent found.\n"

I seem to get this error when I try to execute a javascript file. I'm using a fresh install of linux on a VB and also tried installing polkit without any luck. Is there something I'm missing?

[2018-05-10 07:04] jorangreef commented on #72
Thanks, what happens when you run `node_modules/sudo-prompt/test.js`?

[2018-05-10 13:05] LEKrensta commented on #72
`sudo.exec("echo hello", {"name":"Electron"})
error: null
stdout: "hello\n"
stderr: ""
OK`

Is the following output for running test.js

My following code is as follows:
`debugConsole.log("Creating Service");

  try{
    sudo.exec('node createService.js', options,
    function(error, stderr, stdout){
      debugConsole.log('error: ' + error);
      debugConsole.log('stdout: ' + JSON.stringify(stdo

[2018-05-10 13:30] jorangreef commented on #72
It looks like you're receiving that error on `stdout`, which I think means it's an error that your `createService.js` is receiving.

If you saw a prompt when you ran `node_modules/sudo-prompt/test.js` then I think it's down to something in `createService.js` not in `sudo-prompt`.

[2018-05-10 13:30] jorangreef commented on #72
Hope that helps you to narrow it down.

[2018-05-10 13:49] LEKrensta commented on #72
A prompt does not show up when running the test file. I just get the output listed above.

[2018-05-10 14:01] jorangreef commented on #72
Run `sudo -k` just before running the test file. Any change?

[2018-05-10 14:13] LEKrensta commented on #72
Running `sudo -k` before running the test file still resulted in no prompt appearing.

[2018-05-14 06:17] jorangreef commented on #72
The error you are receiving is from something that happens within `createService.js`. It's not an error returned to `sudo.exec()`, but something you're seeing in `stdout`.

Are you perhaps calling `sudo` again as part of a `childprocess.exec()` within `createService.js` (after you have already executed `createService.js` using `sudo.exec()`?

I don't think there's anything `sudo-prompt` can do her

[2018-05-14 06:17] #72 closed

[2018-05-14 12:31] duongtungls opened #73 "Callback when process still run"
Do we have callback like `stdout.on('data',` ? like below code
[code]
I make like sudo-prompt example but it just can get stdout when process finished
[code]

[2018-05-14 12:34] jorangreef commented on #73
Thanks @duongtungls

No, I am sorry we don't support that.

Please see https://github.com/jorangreef/sudo-prompt/issues/50

[2018-05-14 12:34] #73 closed

[2018-05-19 19:18] duongtungls opened #74 "Kill process run by sudo-promt"
Hi @jorangreef ,

How can I kill a long running process run by sudo-promt ?
Does sudo-promt have this feature ?

Thanks

[2018-05-21 12:46] jorangreef commented on #74
Thanks @duongtungls `sudo-prompt` does not support that.

Please see https://github.com/jorangreef/sudo-prompt/issues/35 for more information.

[2018-05-21 12:46] #74 closed

[2018-06-27 08:03] karthik93advaitha commented on #47
@jorangreef : Thank you for the tip on sudo. Im trying to change the user from A  to B to execute commands on remote host from my node application. I'm not able to get any response for executing 'su' using child_process module. any other module you would recommend for me to try?

[2018-11-02 12:19] Synthetica9 opened #77 "Broken on "obscure" platforms (such as NixOS)"
https://github.com/jorangreef/sudo-prompt/blob/52f82d0660515ec3b4189d3826422aa40c593599/index.js#L125

This assumes you know the exact location of the pkexec/kdesudo binary. This isn't always the case, for example on my (NixOS) system:

[code]

Would it be possible to use the environment to get the location of these executables?

[2018-11-02 12:50] Synthetica9 commented on #77
`which` would certainly be an option. I don't know if there are any node-specific ways of doing this the neatly.

[2018-11-13 20:02] subvertallchris opened #78 "Changelog?"
Hi Joran! Thank you for your work on this library, it's extremely useful for my work. I was wondering if there's a changelog somewhere? It'd be great to have as reference before updating. Perusing commits is fine when there are small numbers of changes but it could be tricky to do that quickly for some users, especially in the event of a larger update.

[2018-11-16 07:05] jorangreef commented on #78
Thanks Chris! I almost always release after a single commit, but you're right, a CHANGELOG.md would be great. Would you be able to contribute a CHANGELOG.md covering the past releases and then I will take it from there?

[2018-12-05 23:08] simpert opened #79 "Setting plist using defaults"
I am using sudo-prompt for many commands and mostly it has worked great. However, when I try to set plist entries using `defaults write myplist key val` the command seems to have worked as far as no errors thrown but the plist is never updated.

I can run the same command in a terminal using sudo and this works as expected. Also, I am aware newer version of Mac will not refresh cache so I run `pki

[2018-12-06 06:55] jorangreef commented on #79
Thanks @simpert

Can you please provide the full command you are giving `sudo-prompt`?

[2018-12-06 06:56] jorangreef commented on #79
Or even better, a simple Node.js test script would be great.

[2018-12-06 17:34] simpert commented on #79
sure

[code]

this is the code I am trying.
I place it in a promise and I am using typescript so I normally just use
[code]
then use
[code]
but since your expecting js I cleaned it up a bit.

I have used `sudo-prompt` before and in the same project am using it for several other commands all of which are working great. It seems a problem with `defaults` of sorts.

[2018-12-06 22:30] simpert commented on #79
So I have been trying dozens of things and just now noticed there are many different scopes that `defaults` will write into.
If I just open a terminal and type `defaults write com.adobe.CSXS.9 PlayerDebugMode 1` all works as expected.

[2018-12-10 16:39] #78 closed

[2018-12-10 16:40] jorangreef commented on #77
Please try out this commit (not yet published to npm): https://github.com/jorangreef/sudo-prompt/commit/0e933b77c3e4f780236e137124eae31d867a80ad

Let me know if that fixes it.

[2018-12-10 16:40] subvertallchris commented on #78
Sorry, seeing this close reminded me that I never got back to you. I'll slap together a quick changelog with at least the past couple months and a section for UNRELEASED and submit as PR when I have a moment today.

[2018-12-10 16:48] jorangreef commented on #79
Thanks @simpert

I reduced your script to this:

[code]

This works for me on `macOS Mojave`, here is the output:

[code]

[2018-12-10 16:51] #43 closed

[2018-12-11 07:45] jorangreef commented on #77
It looks like NixOS does things differently with pkexec then, even once we've located the unusual bin path. I am sorry I don't have NixOS available to test. I'm going to revert the `which` commit until we know for sure and close this out, but if you can figure it out, please let me know.

[2018-12-11 07:45] #77 closed

[2018-12-12 08:37] jorangreef commented on #79
The test script above worked for me. Please re-open if you have more information.

[2018-12-12 08:37] #79 closed

[2018-12-15 23:36] amaurymartiny opened #81 "Add TypeScript definitions"

[2018-12-17 02:26] SpaceboyRoss01 opened #82 "Error: Platform not yet supported. on Arch Linux"
[code]

* `process.platform`: `"Linux"`

[2018-12-18 08:39] jorangreef commented on #81
Please submit TypeScript definitions to https://github.com/DefinitelyTyped/DefinitelyTyped.

[2018-12-18 08:39] #81 closed

[2018-12-18 08:41] jorangreef commented on #82
What is the exact output of `process.platform`?

`Linux` or `linux`?

[2018-12-18 08:42] jorangreef commented on #82
Are you modifying Node's `process` object somewhere in your code?

[2018-12-18 14:16] SpaceboyRoss01 commented on #82
No18.12.2018, 00:42, "Joran Dirk Greef" <notifications@github.com>:Are you modifying Node's process object somewhere in your code?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-12-18 15:13] jorangreef commented on #82
@SpaceboyRoss01 your comment did not come through properly. Please try replying directly on GitHub.

[2018-12-18 15:32] SpaceboyRoss01 commented on #82
I said that I'm not modifying node's `process` object.

[2018-12-19 07:02] jorangreef commented on #82
`process.platform` should be `linux` but your first comment shows `Linux`.

We compare the platform string case-sensitively. I'm not sure why you're getting `Linux` as your platform instead of `linux`.

If you can provide more information, or suggest a way to add support, then please re-open.

[2018-12-19 07:02] #82 closed

[2018-12-24 17:07] MikeSouza opened #83 "Please include Applet’s AppleScript source code"
Thank you for your work on this NPM package.

I was wondering if you could please include in this repo the AppleScript source code that the Applet application is compiled from?  It’s currently unnecessarily tedious to decode the base64 encoded zip file from `index.js`, write it to a file, and unzip it, just to audit the AppleScript `.scpt` file.

This is important for transparency and security aud

[2018-12-28 09:38] jorangreef commented on #83
Sure, the applet (which you can just open up in Xcode) was originally bundled separately, but was then included as a base64 string to work around an issue with Electron's ASAR format: https://github.com/jorangreef/sudo-prompt/issues/10

You would then still need to audit the included base64 string and the contents of the applet directory, to make sure they are in fact the same.

I am open to other

[2018-12-28 09:38] #83 closed

[2019-01-11 17:16] baristaGeek opened #84 "Is there a way to ask for the permission just once?"
Is there a way to ask for the credentials just once? In other words, is it possible to give root permissions to an Electron app using sudo-prompt?

The problem is that I'm trying to run a command that is previously defined from iterating an array of 15,000 elements and gathering the data of each iteration. Since this makes sudo-prompt try to generate 15,000 prompts at once, the system crashes.

Ho

[2019-01-12 09:00] jorangreef commented on #84
Due to system TTY tickets on Linux and macOS this is not possible.

You will need to improve your design to ask for the credentials using sudo-prompt just once and then make the most of those privileges by doing everything you need to do.

For example, you can move your 15,000 tasks into a single script, then run that script using sudo-prompt.

This is mentioned in the README here: https://github.

[2019-01-12 09:00] #84 closed

[2019-01-31 16:42] Orrison opened #85 "Create a Electron app with React "Error: Platform not yet supported.""
I am creating an application using React and Electron, I am attempting to use this package in order to add a line to the hosts file but when I include your provided code and npm start I get a "Error: Platform not yet supported." error.

Is there any know fix for this?

[code]

[2019-02-05 00:22] lukechadwick opened #86 "Uncaught Error: User did not grant permission when trying to execute python script"
I'm trying to write a GUI for a python script for undervolting my laptop on linux, however when trying to run the command such as:

[code]

I'm getting Uncaught Error: User did not grant permission when trying to execute python script. Am I doing things wrong?

[2019-02-07 06:18] jorangreef commented on #86
Thanks @lukechadwick,

Can you try running `sudo-prompt/test.js` to test that `sudo-prompt` is working in your environment?

[2019-02-07 06:21] jorangreef commented on #85
Thanks @Orrison,

What's the output of:

1. `node -e "console.log(process.platform)"`?

2. `console.log(process.platform)` from within your Electron app?

[2019-02-08 07:27] jorangreef commented on #85
I think something's up with your Electron environment.

`process.platform` should be the same for Node and Electron.

Please would you open an issue for Electron?

[2019-02-08 07:27] #85 closed

[2019-02-25 00:47] samuela opened #87 "return exit code"
AFAICT there's no way to retrieve the exit code of the `exec`d command. This would be hugely beneficial. Just returning the `ChildProcess` would certainly solve this problem.

[2019-02-25 01:15] samuela opened #88 "`User did not grant permission.` error even after permission has been granted"
I have a bit of code:
[code]
that tries to unmount a drive. It throws up the prompt as expected and then prints the following:
[code]
which doesn't make any sense since permission was in fact granted. It's just that the command returned a non-zero exit code.

[2019-02-25 05:04] jorangreef commented on #87
Please see the source, if the exit code is non-zero it is added to the returned error object:

https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L309
https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L481

[2019-02-25 05:04] #87 closed

[2019-02-25 05:07] jorangreef commented on #88
Thanks @samuela , this is only on Linux and it should be fixed.

It's tricky to distinguish between `sudo`'s exit code and that of the command. `sudo` also translates its error messages depending on the locale (we used to work according to the these until we found that out).

[2019-02-25 05:08] samuela commented on #87
Why not just always attach the exit code to the response object? That would make for a much more consistent API and one that is easier to use.

[2019-02-25 05:09] jorangreef commented on #86
@lukechadwick , I am closing for lack of further information.

[2019-02-25 05:09] #86 closed

[2019-02-25 05:11] jorangreef commented on #87
There is no response object.

"Just returning the `ChildProcess`" would not certainly solve this problem. Please see the README, past issues, and try to understand the source code for why we can't return the ChildProcess.

[2019-02-25 05:19] samuela commented on #87
I did read the README and notice the "sudo-prompt.exec() is different to child-process.exec() in that no child process is returned (due to platform and permissions constraints)." bit but it's not clear to me exactly what those platform/permissions constraints are.

I see what you mean about not having an Error object to work with. What about a slightly different API along the lines of
[code]

[2019-02-25 05:22] samuela commented on #88
@jorangreef Ah gotcha, I see how that could get messy.

FWIW my hack is to execute `./my-actual-command.sh && echo "__UNIQUE_SUCCESS_MARKER__"` and check that `__UNIQUE_SUCCESS_MARKER__` shows up in stdout.

[2019-02-26 00:31] samuela opened #89 "Behavior is not consistent across macOS/linux"
I have a bit of code:
[code]
that tries to run a script that should eventually print `"success!"`.

The issue is that the error handling is quite different between linux and macOS. If the script returns with a non-zero exit code, the linux version includes a useful (not `undefined`) `stderr`:
[code]
but on macOS:
[code]

Why is `stderr` given as `undefined`? It seems like the API should be consist

[2019-03-01 14:00] NargisTahara commented on #84
I have the same issue.

https://stackoverflow.com/questions/54652002/how-can-i-take-persistent-permissions-in-electron-app

I need to execute commands at different point of time. @baristaGeek  How did you solve your problem. Is it possible to launch a child process with sudo rights using sudo-prompt?
Something like that:

`var  terminal = cProcess.spawn('sudo',['bash']);`

This code unfortunately

[2019-03-01 14:08] NargisTahara commented on #84
@jorangreef how did you created a dialogue for user input. Spawning sudo as a child process will ask for user permissions on terminal, while I want to ask these permission as a dialogue like sudo-prompt.

[2019-03-01 14:16] NargisTahara commented on #63
@pabloneill  how did you solve it?

[2019-03-01 15:39] NargisTahara commented on #42
@Muneefm How did you use cocoasudo with Electron?

[2019-03-26 15:24] abdurrahmanarikan opened #90 "kill external program by sudo-prompt"
Hi
We want to kill the third party program which run by sudo-prompt before. But we have to use sudo-prompt again. It's not good to ask second time to user for having UAC permission. Is there any event listener to kill the program started by sudo-prompt or any other mechanism that we can stop asking UAC again?

[2019-03-26 18:35] jorangreef commented on #90
Thanks @abdurrahmanarikan , I am sorry but that is beyond the scope of sudo-prompt, since we don't return a child process due to cross-platform complexity.

I would recommend rather communicating between your processes using simple files or sockets.

[2019-03-26 18:35] #90 closed

[2019-04-17 05:43] jafri commented on #47
@jorangreef how would you use sudo-prompt to launch a non-GUI Node script with sudo privileges in electron?

[2019-04-17 20:09] jafri opened #91 "NodeJS script does not work on Linux due to Environment Variables not being preserved"
It appears that both `kdesudo` and `pkexec` don't pass through environment variables, which makes `ELECTRON_RUN_AS_NODE=0` not work. This leads to the script trying to launch as a graphical command, which is obviously blocked.

[2019-04-17 22:14] jafri commented on #91
Here is a fork with a working method of passing environment variables through `options.env`

https://github.com/jafri/sudo-prompt/commit/a066105d54d180eeffdf7b86cb814a0dee811f3a

[2019-04-22 17:42] hacdias commented on #91
@jafri I'd like to see this working too for the same reason as you. Do you know if the environment variables are being preserved on other OSes?

[2019-04-22 19:44] jafri commented on #91
You can try the async port at `exec-root`, it works on Windows and Linux with
[code]

[2019-04-22 20:44] hacdias commented on #91
@jafri thanks! I'm just curious about how it works on Windows. I haven't seen any mention of `options.env` on Windows-related code.

[2019-05-16 05:52] y-nk opened #92 "What's the difference with..."
The original repo?
https://www.npmjs.com/package/sudo-prompt

[2019-05-16 06:22] #92 closed

[2019-05-16 07:08] jorangreef commented on #92
I think you've figured it out, but there's no difference:

This is the git repo for the sudo-prompt npm package. You can see this also by following the repo link from the npm page you linked.

[2019-05-16 08:55] y-nk commented on #92
@jorangreef actually i filled this here out of confusion, because i was coming from https://www.npmjs.com/package/@jafri/sudo-prompt which github link redirects to this repo (...and not @jafri 's one) - same with https://github.com/jafri/exec-root

[2019-05-16 09:37] jorangreef commented on #92
Thanks @y-nk, yes I can't vouch for @jafri/sudo-prompt. That's someone else's fork.

This is the original repo. How did you come across @jafri/sudo-prompt?

[2019-05-16 09:44] y-nk commented on #92
@jorangreef from the npmjs.org page. I guess it means that @jafri didn't change the repo url in his package.json fork before publishing.

[2019-05-16 09:47] y-nk commented on #92
@jorangreef you can see it from here : https://unpkg.com/@jafri/sudo-prompt@8.2.5/package.json (L23)

[2019-05-20 14:43] dekyfin opened #93 "Linux: PERMISSION_DENIED error shown when command fails"
On Linux, the PERMISSION_DENIED error is thrown when the command being executed fails. It seems more appropriate to me that the original error message is shown instead under this condition.

I'm creating a pull request for this issue

[2019-05-21 12:51] jorangreef commented on #93
See https://github.com/jorangreef/sudo-prompt/pull/94#issuecomment-494377509

[2019-05-21 12:51] #93 closed

[2019-05-21 16:18] dekyfin opened #95 "Request permission once and run multiple commands"
I have a gui app created with nwjs. The app needs to run several commands with elevated privileges. Using sudo-promt causes the password prompt to appear almost every time the user interacts with the app. Is there a way to request for elevated privliges once to run several commands?

[2019-05-22 05:15] jorangreef commented on #95
Due to TTY tickets we can't solve this from `sudo-prompt`, however, you can put your commands into a single script, which you then run with `sudo-prompt`.

[2019-05-22 05:15] #95 closed

[2019-05-22 13:25] dekyfin commented on #95
Thanks for the response. Unfortunately, the commands are independently
triggered by the user. This makes it impossible to put everything in one
script.

On Wed, 22 May 2019, 05:16 Joran Dirk Greef, <notifications@github.com>
wrote:

[2019-05-27 12:58] zvin opened #96 "Cancelation fails on windows for non english users"
[The code](https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L451) checks for `canceled by the user` but this message depends on the language.

French for example: `Impossible d'exécuter cette commande en raison de l'erreur: L'opération a été annulée par l'utilisateur`

[2019-05-27 13:44] jorangreef commented on #96
Thanks @zvin, anything else we can use on Windows to check? We ran into this on Linux in the past.

[2019-05-27 13:55] zvin commented on #96
We use `GetLastError() == ERROR_CANCELLED` in a native module here https://github.com/balena-io/etcher/blob/master/src/os/win32/elevate.cpp#L87 , I'm not sure we can get this from powershell or cmd. Or maybe there's a way to force the message to be in English?

[2019-05-27 14:04] jorangreef commented on #96
Another way might be for us to wrap the user command in its own shell script, so that we can distinguish between runAs errors and user command errors. We do this for Mac and need to do this for Linux.

[2019-05-27 14:05] jorangreef commented on #96
If you can give me a few days, I will work on this.

[2019-05-31 16:38] jpeizer commented on #86
As opposed to opening a new ticket, I am running into the same thing with an electron application.

I'm on Linux trying to execute an elevated shell script from my app.  I am getting the following error...
[code]
Running the test.js returns permission denied.

Is there something that I'm missing in my setup that is preventing this from working as expected?

[2019-06-01 07:27] jorangreef commented on #86
Your system `pkexec` binary either does not have the `setuid` bit set, or is not owned by the `root` user.

To find the path to your `pkexec` binary run: `which pkexec`

Then fix the permissions of the binary to have the `setuid` bit set, and make sure it is owned by the `root` user.

[2019-06-01 07:28] jorangreef commented on #86
`pkexec` is what `sudo-prompt` uses on Linux systems to elevate privileges. This requires that `pkexec` itself has the power to do so.

[2019-06-01 15:20] #96 closed

[2019-06-03 16:07] #39 closed

[2019-06-03 16:07] #88 closed

[2019-06-03 16:07] #89 closed

[2019-06-03 16:07] #91 closed

[2019-06-03 16:11] jorangreef commented on #53
@ryankon , would you like to try rebuild the AppleScript app again to see if Xcode now prompts with Touch ID?

[2019-06-03 17:32] zvin opened #97 "Issues on windows when the username contains `&`"
If the username contains a `&` (like `Alice & Bob's Laptop`), sudo-prompt fails on windows.
Most probably because the temporary file is in the user's folder and `&`s are not escaped.

[2019-06-03 18:14] jorangreef commented on #53
Closing for now, let me know if anything changes with this please.

[2019-06-03 18:14] #53 closed

[2019-06-03 18:16] jorangreef commented on #97
Thanks @zvin , can you please provide any sample error messages? That will help me narrow this down.

[2019-06-04 00:00] zvin commented on #97
It errors here https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L589
 test file:
[code]

The elevate script looks like this and fails when I run it with `cmd /c ...`:
[code]

[2019-06-04 13:26] jorangreef commented on #97
Thanks @zvin, I could not reproduce any error.

To make sure it's not a 8.3 short name issue, I created a directory called `k&ritchie`, and referenced it using its 8.3 short name of `K&RITC~1`.

I then created `elevate.bat` as follows:
[code]

This should be exactly the same as your example, except with a different 8.3 short name.

`command.bat`:
[code]

I then ran this with:
[code]

Everything ra

[2019-06-04 14:49] zvin commented on #97
I can reproduce the issue reliably.
I must have been wrong in my diagnosis above.
It is throwing an error here https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L589 because the stdout, stderr and status files do not exist (I disabled the removal of temp files and checked in the folder).
The powershell command looks like
[code]
Launching it by hand does not create the `stdout`, `stder

[2019-06-04 14:51] zvin commented on #97
The command itself is `echo ok`, my whole script is in my comment above.

[2019-06-04 18:16] jorangreef commented on #97
I can reproduce it now.

Ignoring anything specific to `sudo-prompt` and PowerShell, here's a simple VBS script which will run a file in the same directory called `elevate.bat` with administrator permissions.

[code]

Just save this as `elevate.vbs` and put it in the same directory as `elevate.bat`.

The interesting thing here is we are relying on the current working directory to pass the full pat

[2019-06-04 18:24] jorangreef commented on #97
Whether we elevate using VBScript or PowerShell, the issue is actually in `runAs` with both of them, not with `sudo-prompt`.

We are passing the path correctly here: https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L523

But PowerShell is not escaping the path when it proceeds to call `cmd.exe /C` itself later (you can see what PowerShell does by clicking "Show more details" in the p

[2019-06-05 11:59] zvin commented on #97
The ampersand is in the user name so it is also in the name of his home folder, short names only add the `~`.

[2019-06-05 13:11] Tyriar commented on #97
@bitcrazed could we get some advice from your team on this? The issue is that an ampersand in the username is breaking the script for both powershell and vbscript, see https://github.com/jorangreef/sudo-prompt/issues/97#issuecomment-498784335

[2019-06-12 10:24] debelop13 opened #98 "Error code -60005 (macOS)"
Hi,

When sudo-prompt.exec is executed it gives and strange error -6005.

It says that the user admin o the password are incorrect. But it didn't ask for user and password.

What can be?

Thanks

[2019-06-12 14:32] DaniellMesquita opened #99 "Run a Node module script instead of CLI command"
@jorangreef, can it prompt su for a module (such as decompress-zip) instead of a CLI like echo?

[2019-06-12 16:59] jorangreef commented on #99
Sorry, that is out of scope. You would need to provide that kind of machinery yourself.

[2019-06-12 16:59] #99 closed

[2019-06-12 17:00] jorangreef commented on #98
Thanks @debelop13, could you please provide more information:

1. Platform
2. Stderr, Stdout
3. Screenshot
4. Script to reproduce

[2019-06-18 22:08] Muffinman opened #100 "No sudo prompt appearing on Ubuntu 18.04 & Electron 5.x"
Hi,

Version: 9.0.0

I'm having an issue with this package not showing the sudo prompt at all on Ubuntu 18.04.

[code]

Produces the following output:

[code]
[code]

As far as I can see my permissions on that file are all set OK?

[code]

Any ideas?

[2019-06-18 22:27] Muffinman commented on #100
Also as an update, I'm able to manually run the following command as my user, and it works as expected. The prompt appears and it updates the modified date on the file.

[code]

[2019-06-18 22:38] Muffinman commented on #100
UPDATE: I've done some further debugging and it seems that the command your package generates does seem to work when copying & pasting into the terminal.

[code]

So I wonder if there is something else going on causing the problem?

My default user shell is `fish`, but since you're calling bash directly I don't see this causing an issue. I've got this packaged up inside an Electron app, so perhaps

[2019-06-19 11:14] jorangreef commented on #100
Thanks @Muffinman for the detailed information, and for the copy of the actual command run by `sudo-prompt`. 👍

Would you please try running the `test.js` script included with `sudo-prompt` using node, i.e. `node test.js` from within the `sudo-prompt` directory?

Please would you also try running your own command above, but this time using a simple node script which requires `sudo-prompt`?

And th

[2019-06-19 11:15] jorangreef commented on #98
Closing for lack of further information.

[2019-06-19 11:15] #98 closed

[2019-06-19 11:17] jorangreef commented on #97
@bitcrazed, the issue seems to be something internal to powershell and vbscript, since we're letting them do the escaping of the ampersand in https://github.com/jorangreef/sudo-prompt/issues/97#issuecomment-498784335, by referencing a file in the same cwd. It's only the full path to the cwd that contains the ampersand. The idea behind this was to rule out any escaping errors on our side.

[2019-06-19 20:07] Muffinman commented on #100
Hi @jorangreef, thanks for coming back to me so quickly.

I've done some testing tonight in the following conditions:

- Ran `test.js` with `bash` shell [works]
- Ran `test.js` with `fish` shell [works]
- Ran sample nodejs CLI script with `node sample.js` with basic `sudo` example [works]
- Ran same nodejs script packaged with `npm run electron:serve` [doesn't work]

So it looks like the Electron

[2019-06-20 10:44] diaxotora opened #101 "sudo-prompt does not work on electron"
Hello Jorangreef,
firstly I just started in nodejs, I have quite low knowledge, by cons I have a pretty good level in javascript and linux, my prombleme is that I want to create an application on electron and I would like to integrate the sudo-prompt module in, so i first tried the example given on the npm site and when i run the application i have a permissions error and the prompt does not appea

[2019-06-20 16:06] jorangreef commented on #101
Thanks @diaxotora I am closing this as a duplicate of https://github.com/jorangreef/sudo-prompt/issues/100

The issue is with Electron, using a sandbox to prevent you from escalating.

[2019-06-20 16:06] #101 closed

[2019-06-28 08:54] jorangreef commented on #100
Thanks @Muffinman

Yes, https://github.com/electron/electron/issues/18521 is definitely the culprit.

You will then need to launch Electron in such a way as to disable Electron's new setuid sandbox. Electron might have an environment variable or option to do this.

[2019-07-31 05:52] anbang opened #102 "User did not grant permission. on window7(64) and Electron4.0.2"
User did not grant permission. on window7(64) and Electron4.0.2

- window7(64)
- Electron4.0.2

[code]

## run `node_modules\sudo-prompt\test.js`

[code]

[2019-08-01 02:34] anbang commented on #102
Has anyone encountered the same problem? please help

[2019-08-02 11:47] anbang commented on #102
this issues is solved,

because `powershell` does not exist or is not added to the computer path

`sudo-prompt`  really works is

[code]
computer if not has `powershell.exe`, You will receive an error;

[2019-08-02 11:53] jorangreef commented on #102
Thanks @anbang

PowerShell is required. Would you like to close this issue?

[2019-08-02 11:55] jorangreef commented on #100
Closing this as an Electron 5.x sandbox issue.

[2019-08-02 11:55] #100 closed

[2019-08-05 02:26] #102 closed

[2019-08-09 10:38] anbang opened #103 "Incompatible under Chinese/Japanese/Korean"
## Incompatible under Chinese/Japanese/Korean

The computer I tested is based on windows10

run `node_modules\sudo-prompt\test.js`

I got the information below

[code]

## modify XXXX/execute.bat

modify file:`C:\Users\回收\AppData\Local\Temp\678e17538c9a26a73ca459e9103fd5af\execute.bat`

[code]

To

[code]

## modify XXXX/command.bat

[code]
To

[code]

## run `execute.bat`

[code]

# The reason

W

[2019-08-10 10:19] Holyprogrammer commented on #100
Are there any workarounds that can be used?
Please tell me if you know any.
Thanks.

[2019-08-12 03:57] jorangreef commented on #100
This is an Electron issue.

You will need to ask the Electron team here https://github.com/electron/electron/issues/18521 if there any options to disable their setuid sandbox.

[2019-08-12 06:28] jorangreef commented on #97
Ping @bitcrazed, I'm pretty sure this is a bug in Windows' shell escaping...

If you can put anyone else at Microsoft onto this it would be much appreciated.

[2019-08-12 06:29] jorangreef commented on #103
Thanks @anbang could you modify those same files, but in a way that passes the `test.js` script?

[2019-08-12 07:44] anbang commented on #103
Thanks @jorangreef

I am running `node_modules\sudo prompt\test.js`

Error message

[code]

In order to locate where the error occurred

I modified the `C:\Users\回收\AppData\Local\Temp\XXXXXXXXXXXXX\execute.bat` file to open the echo info;

I found that when the computer uses Chinese as the user name, the `.bat` file written in the `UTF8` format does not work properly.

[2019-08-12 08:37] jorangreef commented on #103
Thanks @anbang I understand.

Now, would you please try and modify the same file, but this time, modify it so that the test works correctly?

In other words, instead of modifying to see what's going wrong, modify to see how it can be fixed?

[2019-08-12 20:24] bitcrazed commented on #97
Hey @jorangreef - could I ask you to file an issue in https://github.com/microsoft/terminal/ referencing this issue? We'll triage and comment there.

[2019-08-13 12:47] jorangreef commented on #97
Thanks @bitcrazed, done: https://github.com/microsoft/terminal/issues/2419

[2019-08-16 06:19] gengshenghong opened #104 "User did not grant access on windows 10 for administrator"
Hi,

I got "User did not grant access" directly without the UAC prompt.

And to be noted, it works on normal installation for my windows 10 (home installation). It only failed with my company computer, which is set as a domain user, and the user is administrator already. When I start "cmd.exe", it can run all administrator command directly. For my home installation, I think the user is also admini

[2019-08-25 07:46] jorangreef commented on #104
Thanks @gengshenghong

Yes, would you be able to see if you can find a fix for this?

[2019-08-28 09:06] actuallymentor commented on #95
@jorangreef is this entirely out of scope for this package?

For use in GUI apps (e.g. Electron) it would be convenient to be able to do something like:

[code]

Currently this package is great for incidental commands, but in GUIs it results in @dekyfin's example of a prompt after every button press that requires sudo.

[2019-08-28 09:21] jorangreef commented on #95
@actuallymentor, yes it's out of scope.

It's not possible on any platform to cache permissions because of TTY tickets on Linux and Mac, and how we elevate on Windows.

[2019-08-30 13:52] jorangreef commented on #103
@anbang if you can help with a fix that would be great, but I am closing for now.

[2019-08-30 13:52] #103 closed

[2019-09-02 22:55] feileacan opened #105 "No polkit authentication agent found since 9.0.0"
sudo-prompt exec fails with "no polkit authentication agent found" on 9.0.0 but succeeds on 8.2.0.

Steps to Reproduce:
[code]
Output of each command:
[9.0.0](https://github.com/jorangreef/sudo-prompt/files/3567190/9.0.0.txt)
[8.2.0](https://github.com/jorangreef/sudo-prompt/files/3567191/8.2.0.txt)

This is occurring on a Chromebook but you may be able to repro on any Debian container with the sa

[2019-09-10 07:03] jorangreef commented on #105
Thanks @feileacan for the detailed report.

Please would you try rebooting your system and then running the test script for 9.0.0 before doing anything else?

[2019-09-10 07:09] jorangreef commented on #105
This might have something to do with these issues:

https://gitlab.gnome.org/GNOME/gnome-shell/issues/417#note_541769
https://bugs.launchpad.net/ubuntu/+source/policykit-1/+bug/976638/comments/17

In addition to rebooting and running the test script (Option 1 above), please would you also try the following:

Option 2:
[code]

Option 3:
[code]

Option 4:
[code]

[2019-09-10 07:27] jorangreef commented on #104
@gengshenghong any luck?

[2019-09-11 03:12] feileacan commented on #105
Option 1: Same issue
Option 2: Prompts for password. Pressing enter then results in auth failure:
[code]
The account has no password:
[code]
The account is locked by default, but I see the same error for unlocked: `::` or `:*:`

If I set a password I get a different error:
[code]

Option 3:
[code]

Option 4:
[code]

There's no graphical agent installed so pkexec failing when using --disable-intern

[2019-09-11 07:51] jorangreef commented on #105
Thanks @feileacan, option 2 is almost exactly what 8.2.0 does, except that 8.2.0 first tries to execute the command with `sudo -n`:

[code]

Also, given that "passwordless sudo is enabled for all users" as you say, pkexec shouldn't be failing for you like it did in option 2 with `Error executing command as another user: Not authorized`.

I think then that this commit is what caused the issue in pk

[2019-09-11 07:55] jorangreef commented on #105
You might want to take this up in the Chromium issue. This should never fail for a valid password:

[code]

[2019-09-12 04:19] feileacan commented on #105
Ah, not running via sudo would do it.

As far as I can tell policykit uses its own rules so pkexec doesn't care whether the user has sudo access or not, it still requires auth: https://gitlab.freedesktop.org/polkit/polkit/blob/master/actions/org.freedesktop.policykit.policy.in#L13

As regards the pkexec "No session for cookie" issue, looks like the same problem discussed in https://github.com/NixO

[2019-09-25 06:11] chaserstrong opened #106 "Can i get the handler when button ok was clicked on Mac OS?"
Hello. Is there a way I can get a handler after i click the ok button on the prompt dialog?
Because my command is long-running and i should show this status on my web page.
![image](https://user-images.githubusercontent.com/18061322/65573950-a3f3c700-df9e-11e9-8960-e50df4b8d4f3.png)

[2019-09-25 07:04] jorangreef commented on #106
Please see https://github.com/jorangreef/sudo-prompt/issues/54

[2019-09-25 07:04] #106 closed

[2019-10-02 13:57] hb1998 opened #108 "Quit the process started by the prompt"
how to quit the process started by that prompt? since it runs as superuser `killall pname `or `kill pid` doesn't work and also even if you kill it from the terminal, App throws an error.
Also is there a way to retain the privileges once we got that from user.

OS: ubuntu
ENV: electron

[2019-10-02 14:21] jorangreef commented on #108
Sorry @hb1998, neither of these are possible given the constraints, please see past issues:

https://github.com/jorangreef/sudo-prompt/issues/90
https://github.com/jorangreef/sudo-prompt/issues/74
https://github.com/jorangreef/sudo-prompt/issues/42
https://github.com/jorangreef/sudo-prompt/issues/48
https://github.com/jorangreef/sudo-prompt/issues/95

[2019-10-02 14:21] #108 closed

[2019-10-09 14:42] gniezen opened #109 "Operation not permitted on macOS Catalina"
When attempting to do a `chmod a+rw` on `/dev/rdisk2`, I get a permission denied error (`Error: Unable to change file mode on /dev/rdisk2: Operation not permitted`) on macOS Catalina. If I do a `sudo chmod a+rw /dev/rdisk2` from the Terminal it works fine, so I'm not sure what's going on here.

I doubt that it's SIP, as `/dev` is supposedly not part of the protected folders, and I can't find any s

[2019-10-09 21:11] busticated opened #110 "process name difference between v8 and v9..."
hi there :wave:

thanks for a super-helpful lib :pray::+1:

i noticed after upgrading to `v9.0.0` that my dialog over on Ubuntu (v18.04) no longer specifies the bin i'm trying to run.

![Screen Shot 2019-10-09 at 2 02 50 PM](https://user-images.githubusercontent.com/367674/66520492-1cc64900-ea9e-11e9-9e41-9145d9638117.png)

...where it now reads `/bin/bash`, it used to read `/bin/readlink` which w

[2019-10-10 22:47] ranasaria opened #111 "options.env does not allow "(" and ")" characters"
I am using sudo-prompt in a cross platform electron app that runs on mac, linux on windows. On windows machines the environment variable names have characters outside of /^[a-zA-Z_][a-zA-Z0-9_]*$/. So since sudo-prompt supports windows, it should allow all characters that a windows machine allows for environment variables.

[2019-10-12 08:21] Paviluf opened #112 "Use Polkit on Linux"
sudo-prompt should use Polkit on Linux instead of the legacy Kdesudo / Gksudo / Pkexec.

[2019-10-12 10:57] hb1998 commented on #42
can u explain it in detail for Linux. Thank you.

[2019-10-18 15:09] sarpik opened #113 "Problems in `ArchLinux` with `vscode`"
Hello,

This package is used in [vscode](https://github.com/microsoft/vscode).
In [arch linux](https://www.archlinux.org/), we're unable to use the `Save as sudo` functionality though `vscode`.

Please see https://github.com/microsoft/vscode/issues/82266 -- it's the original issue, providing other related issues, specific details & possible candidates for a fix.

Thank you!

[2019-10-22 11:42] frufin opened #114 "Avoid pasword when not needed"
Hi,
Would it be possible to avoid entering password if commend doesn't require sudo ?

[2019-11-01 16:22] zvin commented on #109
Hello @gniezen @jorangreef ,

I ran into the same issue, it looks like the `with administrator privileges` apple script trick no longer works for accessing `/dev/rdiskX` on Catalina.

One thing still works though: `sudo`.
You can use `sudo -A` if you set a `SUDO_ASKPASS` env var.
I ended up using this with some osascript to show a graphical password prompt.
It isn't perfect (JXA only works startin

[2019-11-02 06:37] jorangreef commented on #109
Thanks @gniezen, I am sorry for being slow with this.

@zvin, thanks for the ASKPASS script, that's fantastic. If you can give me some time, I will make sure this lands in sudo-prompt.

[2019-11-02 06:39] jorangreef commented on #113
Thanks @sarpik, ArchLinux has been problematic compared to other distributions.

I have looked through https://github.com/microsoft/vscode/issues/82266, and need to follow all those links. If you have time, would you mind summarizing here?

If not, it's fine, I will get to this, I just need some time.

[2019-11-02 06:40] jorangreef commented on #112
I thought pkexec is the binary that interfaces with Polkit, hence the "pk"?

If not, how would you propose we use Polkit exactly? If you can provide sample code please that would be appreciated.

[2019-11-02 06:41] jorangreef commented on #111
Thanks @ranasaria. I am sorry but we only allow POSIX characters for security.

If you really need "(" and ")" you can always write out a temporary shell script and execute that with sudo-prompt.

[2019-11-02 06:41] #111 closed

[2019-11-02 06:42] jorangreef commented on #110
Thanks Matt, yes we had to change how we run commands on Linux to fix another idempotency issue. However, there is a way to get what you want back. Please give me a few weeks and I will get to it.

[2019-11-02 06:43] jorangreef commented on #105
Sorry for the delay with this, I will get to it in a few weeks. I know how to solve it and we have a few other changes that have built up which can all go hand-in-hand.

[2019-11-02 06:44] jorangreef commented on #104
Please re-open if you find a workaround.

[2019-11-02 06:44] #104 closed

[2019-11-02 06:45] jorangreef commented on #114
Hi @frufin, sure. I am closing this but will improve this slightly when attending to some other related issues.

[2019-11-02 06:45] #114 closed

[2019-11-02 08:39] Paviluf commented on #112
Well I have no idea what to use :) After a little research it seem that it's pkexec that should be used indeed. That said, and I don't know if it's still the case, but there was a problem with vs code that use sudo-prompt. It seem that sudo-prompt try first kdesudo and then pkexec. So I think it shouldn't use kdesudo / gksudo or at least use them as a fallback.

https://github.com/microsoft/vscode

[2019-11-02 12:08] sarpik commented on #113
No problem @jorangreef,

I've tried summarizing, but pretty much everything is documented in https://github.com/microsoft/vscode/issues/82266. For a quick summary, I believe you can read through it without following the links - we tried providing context from them.

<details>

<summary>
The stuff I wrote that is pretty much the same, you'd be better off just going through https://github.com/micros

[2019-11-02 16:06] jorangreef commented on #113
Thanks for your help with all of this @sarpik, I would also like to get this fixed, if it's something we can fix.

What I wanted to know in particular, was why installing the packaged binary version of VS Code solved the issue? If it did, that makes it seem like it's not VS Code or sudo-prompt, unless the packaged binary version of VS Code was a newer version with a different version of sudo-promp

[2019-11-02 16:21] sarpik commented on #113
Thanks Joran!

I think the problem might be with the packaging of electron, as seen in [the comment from arch linux](https://bugs.archlinux.org/task/61516#comment178392) which you just quoted, but I'm just speculating.

I will try to install the packaged binary right now, and will update you soon.

Sorry to bother @FFY00, but I'm pretty sure you know the most out of us here. Any ideas?

[2019-11-02 16:28] FFY00 commented on #113
Basically, we start vscode like this:

[code]

[2019-11-02 18:01] sarpik commented on #113
Alright, I've tried out 3 things:

1. code (oss, not binary)
2. vscodium (oss, binary)
3. code (not oss (microsoft's release), binary)

(all versions identical)

TL;DR:

`Save as sudo` worked with both binaries. Non-binary version did not.

---

Fyi:

The binary for arch linux is provided here: https://aur.archlinux.org/packages/visual-studio-code-bin/

and [from the FAQ comment](https://aur.archl

[2019-11-03 14:15] jorangreef commented on #113
😄 Thanks @sarpik, that's a fantastic write-up.

Do you still think this is a sudo-prompt or VS Code issue then?

[2019-11-03 14:16] jorangreef commented on #113
Maybe there's something we could do though to help ArchLinux out? Any ideas?

[2019-11-03 16:16] sarpik commented on #113
lmao, thank you for being awesome 😄

yeah I don't know, the only difference I see is whether vscode is packaged in binary form or not. This is probably to do with arch linux, but I'm not qualified to answer:D

I'd love to help arch linux out, but honestly, I have no clue how.
Any last thoughts, @FFY00? c:

[2019-11-05 11:25] gniezen commented on #109
@zvin Prior to Catalina I was using a bash script launch daemon in `PriviligedHelperTools` to do the `chmod a+rw` on `dev/rdiskX`. Since `PrivilgedHelperTools` run in root mode, this worked great, as no password prompt was required.

Looking at this thread (https://forums.developer.apple.com/thread/123344) it appears that `PrivilegedHelperTools` are indeed broken on Catalina, and using `sudo` is t

[2019-11-15 23:37] ranasaria commented on #111
How about on windows only we allow just the 2 variables:

- ProgramFiles(x86)
- CommonProgramFiles(x86)

As these are the two most common values that are a problem on the windows machines out of the box.

[2019-11-27 17:57] dreamerblue opened #116 "Error on Windows: options.env has an invalid environment variable name"
Run `sudo.exec('echo %PATH%', { name: 'app', env: process.env })`

Error occurred:
[code]

Some of my env in process.env:
[code]

[2019-12-18 17:27] filipbudisa opened #117 "TS: Object literal may only specify known properties"
Since the commit that added types, only "name" and "icns" can be passed in the options parameter of exec(), even though options.env is should also be passable there.

[2020-01-03 15:39] sigurdcarlsen opened #119 "Windows error: Apostrophe in user name breaks sudo-prompt"
Frist of all thank you so much for this amazing repository!

Unfortunately I have learned that some users use apostrophe in their user names on windows machines which causes an error.

tested on:
Windows 10 home and pro
sudo-prompt 9.1.1
windows username: test's

Code:
[code]

Error:
[code]

Logging the error inside the WindowsElevate function shows this:
[code]

The problem is with the path to ex

[2020-01-08 03:54] jorangreef commented on #119
Thanks @sigurdcarlsen for the detailed report. This is really helpful.

[2020-03-11 20:57] DavidForss opened #120 "'Command failed' in Electron app"
Hello and thanks for a great library!

I´ve got a problem with starting and stopping my local mysql process from my electron app.
( I am on macOS Catalina and mysql.server is set in my $PATH)
I can do it with both `child_process spawn` and `child_process exec` like this:

[code]

and:

[code]

They both give me the sudo password prompt in my terminal though, so its not working when building the ap

[2020-03-16 17:49] rewasa commented on #85
Import in React like so const `sudo = window.require("sudo-prompt");`

[2020-03-17 00:00] marcj opened #121 "Not possible in Mac App Store, aka app-sandbox"
Hi, first: Thanks for this great library!

I have an issue with getting an app using this library to the Mac App Store. The problem is that the source contains a binary at https://github.com/jorangreef/sudo-prompt/blob/master/index.js#L668 `var APPLET = ..`, which you extract at runtime. In the app-sandbox environment of macOS (which is required by the Mac App Store) such a behavior is forbidden.

[2020-03-17 11:37] jorangreef commented on #121
Thanks @marcj !

That's actually how we used to have it, with the applet as a separate file inside the package. However, we ran into an issue with Electron's ASAR and solved that by including it in the source code directly as base64.

I guess we could do both, ship a separate file as well as base64 and then branch depending on whether the runtime is Electron or Node.js.

[2020-03-17 11:39] jorangreef commented on #121
This was the original ASAR issue: https://github.com/jorangreef/sudo-prompt/issues/10

[2020-03-17 14:02] marcj commented on #121
Thanks @jorangreef! But the problem is, I use Electron as well, but not with ASAR though 😅

[2020-03-17 16:39] jorangreef commented on #121
That's fine.

[2020-03-21 20:58] seamusdemora commented on #109
[I'm having a problem with `Etcher`, and your thread here has surfaced over there.](https://github.com/balena-io/etcher/issues/3107) I don't completely follow what you chaps are on about here, so I'll ask what may be a *stupid question*: Does `Etcher` use `sudo` for privilege elevation to flash a thumb drive?

[2020-04-17 13:21] gniezen commented on #109
@seamusdemora Yes, for macOS Catalina, using the script @zvin linked to above. For earlier versions, Etcher uses sudo-prompt.

@jorangreef Any chance you have bandwidth available to land @zvin 's script in sudo-prompt?

[2020-04-29 09:40] #117 closed

[2020-04-29 09:48] jorangreef commented on #109
Thanks @gniezen , I would love to but don't have the bandwidth with our lockdown at present.

[2020-04-29 10:01] nahddw opened #122 "macOS Catalina Operation not permitted"
The problem is in OSX 10.15.
Error: Command failed: cp: /Users/xxx/:  Operation not permitted.
how to solve this problem, Thanks.

[2020-04-29 19:48] mauriciope commented on #122
This is a SIP block [https://support.apple.com/en-gb/HT204899](https://support.apple.com/en-gb/HT204899) and the new way in which the volumes are created and secured in Catalina.
Unless you have a MDM solution to allow such commands it will be very difficult to touch the Users home directory.

[2020-06-10 13:29] shrutisalandri opened #125 "OS dialog prompt is not being prompted in Windows 10"
Hi,
In our application, I have been using this package to execute the sc commands where the commands are being executed and able to get the response but it is not promoting the user on elevation.

The commands are being executed without the OS dialog prompt in Windows 10 pro machine whereas the OS dialog is getting displayed in Microsoft windows server 2012 r2 standard machine

Does this package s

[2020-06-11 10:18] #125 closed, assigned to nobody

[2020-06-11 10:19] shrutisalandri commented on #125
The issue was due to the UAC settings where notifications were off

[2020-06-24 09:52] jyotigupta007 opened #126 "Operation not permitted in macOS with sudo-prompt"

[2020-06-25 04:25] davidhemphill opened #127 "Prompt shows but name and icon are not visible on macOS"
`sudo-prompt` is not correctly showing the name or icon file for the app when passed an object with `name` or `icns` keys. I was able to replicate the issue on a fresh Electron project with just this package installed. The following code:

[code]

Produces this:

<img width="555" alt="image" src="https://user-images.githubusercontent.com/58970/85652319-04b84900-b670-11ea-81f7-57f957da5a1f.png">

[2020-06-25 04:35] davidhemphill commented on #127
I downloaded the repository and ran `node test.js` and the errant behavior was present as well. This is on Catalina 10.15.5.

[2020-06-27 15:05] jorangreef commented on #127
Thanks @davidhemphill I can confirm this. Do you know of any changes in Info.plist behavior across macOS that would affect this? That's what we're using to set the app name and icon.

[2020-06-29 14:45] davidhemphill commented on #127
Sadly, I don't as that's out of my area of expertise. I'll do some research on my end and see if I can come up with anything.

[2020-07-07 14:24] idanwork commented on #127
Hi I have the same issue after updated to Catalina 10.15.5,

The same product works as expected on older versions of macOS and older versions of Catalina (10.15.4 and older).

I didn't have the chance to check what is causing, I'll try to make some time for checking this.

[2020-07-14 12:32] ghost opened #128 ""User did not grant permissions" if I click "Yes" too quickly on Windows?"
I'm running it in a slow Windows 10 VM and I'm getting "User did not grant permissions" if I click "Yes" too quickly. Anyone ever got that? How can I debug what the problem is?

If I wait 5-10 seconds it seems to work most of the time. But if I click right away it never works. I don't have access to a real Windows system to test it for now.

[2020-07-16 08:04] idanwork commented on #127
Hi Guys,

I'm sorry to say that I wasn't able to figure it out yet.
I tried to recreate the applet using Catalina Xcode 11.

It didn't change anything, Icon and name are missing.

I'll try next following the suggested path under this issue
https://github.com/jorangreef/sudo-prompt/issues/109

Seems Catalina will require new approach for running elevated commands.

[2020-07-16 09:20] idanwork commented on #127
Sorry for spamming,
Just got word that on 10.15.6 it was fixed ;)
So it was indeed an apple issue

[2020-07-27 12:21] kotapeter commented on #127
@idanwork Thank you! I can also confirm it, I've just updated MacOS to `10.15.6` and `sudo-prompt` works as expected :) This issue can be closed.

[2020-07-27 12:30] jorangreef commented on #127
Thanks everyone!

[2020-07-27 12:30] #127 closed, assigned to nobody

[2020-08-21 18:38] bighitbiker3 commented on #58
I realize this thread is super old, but for some reason I can't get this to honor NOPASSWD, nor can I find the `sudo -n` call in the source code for this library. Did that get nixed sometime in the past few years?

[2020-09-15 10:01] jorangreef commented on #128
Thanks @dave-dm, I'm sorry for the delayed response.

One way to debug would be to add console log statements to sudo-prompt for each exec() method called within sudo-prompt's source. It may be that you are getting another error back from Windows, e.g. maybe an EPERM because of antivirus locking and scanning a file after it's just created by sudo-prompt (we create several), but then sudo-prompt re

[2020-09-15 10:03] #126 closed, assigned to nobody

[2020-09-15 10:06] jorangreef commented on #119
@sigurdcarlsen we should have a fix for this one way or the other soon.

[2020-09-15 10:07] jorangreef commented on #119
Fixing escaping issues like this is extremely tricky because one fix could introduce other issues.

[2020-09-15 10:08] jorangreef commented on #119
... and Windows has it's own escaping bugs, as you will see in #97. But hopefully your issue will be fixed soon!

[2020-09-15 10:14] jorangreef commented on #121
@marcj, would you be able to do a PR for this?

You would need to have the code branch on whether you detect the user is using ASAR or not, and then first unpack the base64 string or use the standalone applet directly respectively.

On the plus side, this would speed up sudo-prompt for apps that don't use ASAR.

One thing to keep in mind though is that for icon and name support, we don't just use

[2020-09-15 10:17] jorangreef commented on #120
@DavidForss thanks for opening this.

Did you get this working?

If not, the issue might be this: `mysql.server is set in my $PATH`... whereas sudo-prompt needs you to be explicit with environment variables, because of the difficulties of making this work cross-platform.

[2020-09-15 12:04] jorangreef commented on #109
Hey all, do you know if this is still an issue on latest Catalina? There were some Catalina updates that introduced issues that were later fixed, e.g. see #127.

[2020-09-15 12:18] gniezen commented on #109
AFAIK this is still an issue. I ended up implementing @zvin 's workaround to get things working. I'm currently on sabbatical, so the soonest I can test this on the latest version of Catalina will be at the beginning of October.

[2020-10-02 13:09] Melvin-Abraham opened #130 "`sudo-prompt` fails to detect `pkexec` or `kdesudo` in "strictly" confined snap"
I am making an electron app which I am distributing as a **"strictly"** confined snap application. This app requires superuser privileges to run some commands, so I am using `sudo-prompt`. But it turns out that the command fails as it fails to find `pkexec` or `kdesudo` for authentication purpose. This does work in a **"classic"** snap though. Is there any way to get it working in a strictly confi

[2020-10-09 16:42] darkk opened #131 "Special characters handling on Linux"
Linux has the following command generated while running `node test.js` (newlines added after `;` for readability):

[code]

The command has the following issues:
- `pkexec` changes workdir to `/root`, so the code fails to preserve CWD as `cd` is done in an "outer" shell and does not propagate through `pkexec`
- `SUDO_PROMPT_TEST_ENV` does not come from pkexec'ed environment, it comes from an "oute

[2020-11-01 13:11] nova-nowiz commented on #113
I have the same problem on NixOS, I can't save files as sudo in vscode.
However, I can use `pkexec code --file-write /path/to/source /path/to/target` and it works fine, I'm confused...
Should I report this on vscode issue tracker?

[2020-11-12 16:47] jdexyz opened #132 "Strange behaviour with Electron 9 on Win10"
It seems that Electron v9 on Windows (tested on Win10) replaces `child_process.exec` with a promisified version of it. I could not find a reference to this behaviour in the electron repo.

This causes an error in function `WindowsElevate`, specifically with `child.stdin.end();`, as `child` is now a promise, and not a ChildProcess.

My temporary solution is to use `child_process.execSync`, which is

[2020-11-12 16:50] jorangreef commented on #132
Thanks for posting this @jeremypatrickdahan

[2020-11-20 09:46] fish-jade opened #133 "in Eelectron app Rendering process, sudo run cp not work"

[2020-11-20 09:48] #133 closed, assigned to nobody

[2020-11-21 03:46] fish-jade opened #134 "Hello, why option.name just support [a-z0-9 ] ?"
Can you solve my doubts ？ thanks.

In my project, I need to change the name to Chinese.

[2020-12-01 18:44] dontwork opened #135 "How to get elevated shell and run a command without sudo prefix"
Hi,

The readme mentions that it is possible to use this library to get an elevated shell on a Mac and references this link: https://github.com/jorangreef/sudo-prompt/issues/1

I do not understand from that link how to get an elevated shell on a Mac, are you able to assist?

[2020-12-01 18:59] dontwork commented on #135
I actually think I have a different issue. I am trying to install homebrew on a Mac and I dont think it wants an elevated shell, just the password

[2020-12-20 09:43] appdev44 opened #136 "macOS: Application cannot be opened because the developer cannot be verified"
When running sudo-prompt on OS X 10.15.7 from nw.js application - I get a pop-up "Application cannot be opened because the developer cannot be verified - macOS cannot verify that this app is free from malware".
This works as expected on OS X 10.14.x and 10.15.2 - only started getting this issue from 10.15.6.

from the console - 2 sets of logs:
Set 1:
default	19:43:57.278634+1100	kernel	build_users

[2021-01-14 18:09] kotapeter opened #137 "BigSur 11.1 issue: The authorization was denied since no user interaction was possible"
If macOS asks password more than 1 it'll fail with the error message in the title.

For example if we want to save an x509 certificate into keychain. On Apple machines with BigSur 11.1 asks password twice. (who knows why..)

(I've tested with Intel mac and it works properly)

### Reproduce:

Here is our command:
[code]

If you run this in terminal with `sudo` prefix then terminal'll ask your passw

[2021-01-16 05:17] Fndroid commented on #53
any update for this issue?

[2021-01-28 22:14] gautejohan opened #138 "Linux: option.env not used"
Firstly, thank you for a great library!

We are starting a cli tool from an electron app with sudo-prompt. To pass on environment variables we tried using the `options.env` property.

For what i can understand this wont work on Linux. `pkexec` is removing all environment variables before running command, so to get around this we added the environment variables at the beginning of our call, somethi

[2021-01-31 17:15] lukepolo commented on #109
Im currently running into the same issue, but was able to use the script above and giving executable permissions to the script.

Would be really cool to get into this package.

[2021-02-01 14:03] alectrocute commented on #137
This is macOS’s issue, not sudo-prompt IMHO.

But to help out, maybe try [unlocking the user’s keychain](https://stackoverflow.com/a/23984637) first via node `child_process` and then execute the sudo command after. Other relevant stuff in that SO thread.

[2021-02-01 21:16] seamusdemora commented on #109
@lukepolo 👍  Are you seeing this issue using Etcher? If that's the case, I'm sorry to see this Issue remains unresolved.

Further random & pointless comments:
I don't feel I "have a dog in this fight" any longer... Etcher's inability to resolve this issue quickly was why I quit using it. And just to be clear, IMHO this was more about Apple's malfeasance than anything else. And I'm still intrigued

[2021-02-01 21:34] lukepolo commented on #109
Nope not using etcher, needed it for an CLI tool im building.

No worries, maybe one day I'll take a deeper look at it. Just don't have the time at the moment.

[2021-02-02 09:34] gniezen commented on #109
I've actually taken the route of writing a driver extension for the device I'm targeting, so that it's just a regular USB device (instead of a block device) and then I'm using user-space code to talk to the device. The only holdup at the moment is that even though Apple approved the DriverKit entitlements for me to do this, they screwed up the provisioning profiles so it's still missing some entit

[2021-02-02 18:21] seamusdemora commented on #109
@gniezen 👍 Sounds par for the course with Apple...

[2021-02-19 08:01] sidhdharth-navsoft opened #139 "Unexpected behaviour with linux - electron.js"
var sudo = require('sudo-prompt');
		var options = {
			name: 'Electron',
			icns: '/Applications/Electron.app/Contents/Resources/Electron.icns', // (optional)
		};
		sudo.exec('apt-get install build-essential libudev-dev', options,
			(error, stdout, stderr) =>{

				if (error) throw error;
				log.info('stderr: '  + stderr);
				log.info('stdout: '  + stdout);
				//mainfunction();

			}

			);

[2021-02-19 08:02] sidhdharth-navsoft commented on #139
using escpos library for printing

[2021-02-22 06:48] sidhdharth-navsoft opened #140 "electron exe with root system privileges in linux, It's possible to do ?"
How i can run my electron exe with  root system privileges as default privileges in linux , i need this in order to run my child process command and want to open prompt window for password not from terminal , It's possible to do ?

note-- sudo prompt not working as expected.
i need this to execute this library  https://www.npmjs.com/package/escpos  -- escpos

[2021-04-27 13:04] toioski commented on #42
Did anyone find a solution to this? It would be really helpful. Personally I am interested on a solution for macOS.

[2021-04-30 18:58] nh2 commented on #77
There is a new PR at #123 -- it would be great if you could take a look!

[2021-07-26 22:07] tutiplain opened #141 "How to run multiple commands without requiring password every time"
Hi!  I just began using sudo-prompt and while it works for me, I find it has the drawback of asking me for the password for every single command I run with it. Is there a way to get it to remember the password?

[2021-07-27 02:43] nobody-sun commented on #141
I have same problem，Looking forward to a reply

[2021-07-27 22:18] tutiplain commented on #141
@nobody-sun It looks like we won't be getting an answer here. I found a workaround that might work depending on your needs. Instead of running multiple commands, you can concatenate your commands into a string separating them with && and do a single call to sudo-prompt. This will allow you to call multiple commands and entering a single password. This helps if all the stuff you need to do can be d

[2021-07-30 11:56] PeterKieu commented on #141
I think that we should use sudo to create [launchd](https://medium.com/swlh/how-to-use-launchd-to-run-services-in-macos-b972ed1e352) job, it can help once sudo dialog for multiple commands.

[2021-08-29 21:42] danimesq opened #142 "Any pkg similar to this, but without root/admin?"
An pkg that can run CLI commands like sudo-prompt and get the `stdout`, but without root.

@jorangreef

[2021-08-31 08:35] night-peiqi commented on #141
I have same problem，Looking forward to a reply

[2021-09-01 11:26] tutiplain commented on #141
@Awn-Alice Your best bet at this point is to concatenate your commands using && and running them all at once. For me this required refactoring some operations done in code, to doing them in bash commands. It it not a pretty solution, but it worked for what I was doing. Creating a launchd job sounds like an option, but it can be tricky to use, and its behavior can change on future Mac OS releases.

[2021-09-04 10:09] night-peiqi commented on #141
@tutiplain Thank you for your reply, but this scheme may not be suitable for my situation. I may need to modify hosts file frequently. However, every time I change it, I have to enter the password